[2016-05-16 14:38] Vulnerator opened #1 "Recreation of Details Page (artf375577)"
Reintroduce a "Details" report (similar to that found in v4.x).  This should primarily be used for STIG/SCAP findings, as "ACAS Output" has its own tab.

**_Note:_** Migration of issue ```artf375577``` from SoftwareForge

[2016-05-16 14:53] Vulnerator opened #2 "Asset Identifier Selection (artf377321)"
Provide users with the ability to select what to use as the "Affected Asset" in reports:

- IP Address
- DNS Name (with an IP Address fallback)

**_Note:_** Migration of issue ```artf377321``` from SoftwareForge

[2016-05-16 15:03] Vulnerator opened #3 "Add CVE Numbers from ACAS (artf126752)"
Import CVE cumbers from ACAS into the "ACAS Ouput" report tab

**_Note:_** Migration of issue ```artf126752``` from SoftwareForge

[2016-05-16 17:09] Vulnerator opened #4 "Incorporate Vulnerability Management by Responsibility (artf6707)"
Develop and implement a solution that allows users to quickly parse vulnerability data and notify relevant system administrators of items to be fixed within their purview.

**_Note:_** Migration of issue ```artf6707``` from SoftwareForge

[2016-05-16 17:13] Vulnerator opened #5 "Access Database Report Output (artf166395)"
Have all parsed vulnerability data parse to a Microsoft Access database that can then be further manipulated and reported from.

**_Note:_** Migration of issue ```artf166395``` from SoftwareForge

[2016-05-16 17:27] Vulnerator opened #6 "Option to Select STIG Finding Details or Comments for Mitigation/Remediation Text (artf377995)"
Provide users with the ability to decide whether to use the STIG "Finding Details" or "Comments" field for mitigation/remediation text.

**_Note:_** Migration of issue ```artf377995``` from SoftwareForge

[2016-05-16 17:30] Vulnerator opened #7 "Excel Displaying "Unreadable Content" prompt when report is launched (artf404317)"
This prompt is only generated after processing _some_ *.nessus files and is only present if the "ACAS Scan Output" tab is generated.  A manual review has been conducted using the Microsoft Open XML SDK 2.5 Productivity Tool to ensure that actual finding data is not affected by the repair.

**_Note:_** Migration of issue `artf404317` from SoftwareForge

[2016-05-16 17:44] Vulnerator opened #8 "Adding Multiple Mitigations to Mitigation Tab Results in an Error (artf386780)"
When attempting to add multiple mitigation statements at once on the mitigation tab, an error is thrown.

**_Note:_** Migration of issue ```artf386780``` from SoftwareForge

[2016-05-16 18:22] Vulnerator opened #9 "Incorporate RSS Feed Reader for Updates"
Incorporate an RSS feed reader that users can quickly and easily access to show the latest happenings with the Vulnerator utility as posted on Github.  Include the following:

- Issue Updates
- Application Updates

Incorporate via a ```Flyout``` control launched from a ```WindowCommand```

[2016-05-17 13:56] amkuchta opened #11 "Generate an Informative GitHub Page for Vulnerator"
Page should be HTML5 and contain the following:

- [x] Quickstart guide
- [x] ~~In-depth Wiki~~ This has been linked to and is being developed using GitHub
- [x] Link to Gitter (or embed - even better)
- [x] Other goodness as I think of it

[2016-05-17 17:20] amkuchta opened #12 "Update About Page"
Point the useful links back to GitHub

[2016-05-20 01:30] amkuchta commented on #11
All done - may possibly update with a new top-level domain after discussion with @japurcell and @vanerj1996.  Also, awaiting resolution on Gitter SideCar [Issue 46](https://github.com/gitterHQ/sidecar/issues/46)

[2016-05-20 01:30] #11 closed

[2016-05-23 15:26] amkuchta opened #13 "CCI Data not importing from STIG"
CCI control identifiers were not appearing in the POA&M or RAR tabs. This has been rectified for v6.1.1

[2016-05-23 15:26] #13 closed

[2016-05-23 16:36] amkuchta commented on #12
Links updated to point to correct locations

[2016-05-23 16:36] #12 closed

[2016-05-24 14:29] #8 closed

[2016-05-27 21:38] #9 closed

[2016-06-01 01:41] #3 closed

[2016-06-01 18:22] #2 closed

[2016-06-02 11:27] #6 closed

[2016-06-02 11:28] amkuchta commented on #1
Prematurely auto-closed via pull request #17

[2016-06-02 12:13] amkuchta commented on #1
Actually closed now! :+1:

[2016-06-02 12:13] #1 closed

[2016-06-02 16:55] amkuchta opened #20 "Error Creating Acas Output Text Files for Large ACAS Imports"
When creating ACAS output files for large systems, an error is thrown due to exceedingly large file name lengths.

[2016-06-02 18:36] #20 closed

[2016-06-03 19:48] amkuchta opened #23 ""Import Mitigations" Button Not Working"
FlyOut control is not launching like it should

[2016-06-03 19:52] #23 closed

[2016-06-04 03:00] amkuchta opened #26 "Enhance Error Reporting"
Error reporting in "Release" versions is extremely limited - better logging is required to more easily assist users in distress.

[2016-06-06 13:01] amkuchta opened #27 "Finalize PDF and "OS / User Breakdown" Reports"
Identify the best way to display this information and make it happen.

[2016-06-08 14:10] amkuchta opened #28 "Error Parsing "Release" Data From CKL Files"
If the "release" data for the CKL is blank, an error is thrown.

[2016-06-08 14:27] #28 closed

[2016-06-09 17:25] amkuchta opened #29 "Remove "MAC Level" Field From Application"
With the impending move from DIACAP to RMF and the fact that not all user groups will require MAC / CIA information, it doesn't make sense to keep this in the application.  Axe it.

[2016-06-21 14:13] amkuchta opened #30 "Vulnerability Status tracking"
Create an option for users to track vulnerability status from one report to the next - this should be done in the POA&M as well as possibly in a separate report.

[2016-06-21 14:16] amkuchta opened #31 "Update RAR to Full RMF Format"
Update the RAR template to include all fields as shown in the RAR provided by the RMF Knowledge Service.

[2016-06-29 16:26] amkuchta opened #32 "Generate "Test Plan" Report"
Generate a report using the latest version of the approved RMF test plan; this should include all files that successfully parsed during processing.

[2016-06-29 16:30] amkuchta opened #33 "Incorporate ACAS Plugin Version in Reports"
The ACAS plugin feed version can be pulled from plugin 19506 for each finding - this should be used instead of just stating a generic "ACAS" statement

[2016-07-11 23:04] vanerj1996 opened #34 "SCAP import very slow"
Importing of XCCDF files into Vulnerator is very slow, and surprisingly consistent just below 30 seconds. (I have nearly 150 XCCDF to import, which makes for very long run times.)

I believe the issue is the attempt to validate Xml Schema before parsing. But my machine is airgapped! So those internet downloads are doomed to fail (timeout). I suspect the consistency is from some timeout. (However t

[2016-07-11 23:09] vanerj1996 commented on #34
Workaround: I added "scap.nist.gov", "checklists.nisc.gov", "cpe.mitre.org" to my hosts file, and resolved them to "127.0.0.1". -- Now the validator "fails fast".

[2016-07-12 00:49] amkuchta commented on #34
I will look into adding the schemas for utilization at runtime - I do something similar for the CCI References, so mimicking the behavior shouldn't be difficult.

[2016-07-14 00:48] amkuchta opened #35 "Incorporate Ability to Ingest Fortify FPR Files"
Having the ability to ingest some additional file types into a POA&M format would be useful HP Fortify FPR files would be useful

[2016-08-11 19:22] cmogletree commented on #6
When we import the STIG checklist the comments are not showing in the POA&M, is this saying I need to upgrade to c6.1.1 to resolve this?

[2016-08-12 11:23] amkuchta commented on #6
@cmogletree this is correct - in previous versions of the application, the program was hard-coded to select the mitigation for the POA&M from the "Finding Details" section and to dump the "Comments" into the column of the same name on the RAR.  As of v6.1.1, the end user now has the option to utilize the "Findings Details", "Comments", or both.

[2016-08-12 18:21] amkuchta commented on #29
Andddddd it's gone.

[2016-08-12 18:30] #29 closed

[2016-08-12 18:31] amkuchta commented on #29
Anddddd it's gone!

[2016-08-16 14:46] jae-trinity opened #37 "Add DIACAP IA / RMF Security Controls to "STIG Details & Review" Report"
- [ ] Add DIACAP IA / RMF Security Controls to "STIG Details & Review" - this would allow the output to be used as an adequate .ckl "human readable" output format.

Thanks for the hard work.

[2016-08-16 17:25] amkuchta opened #38 "SQLite Error When Parsing CKL, XCCDF Files"
Vulnerator is unable to insert new sources into the VulnerabilitySources table due to issues with the SQL command text - this issue arises when parsing CKL or XCCDF files.

[2016-08-16 17:29] #38 closed

[2016-08-16 18:01] amkuchta commented on #37
@jae-trinity thanks for the input!  For future reference, please create a new issue for each request (instead of one running one).  This will allow me to track each request separately (making my life easier!)

[2016-08-17 17:04] #26 closed

[2016-08-17 22:20] amkuchta commented on #31
It's worth noting that I intend to use the Navy RAR; the logic behind this is that it is the most verbose of RARs, and the DoD standard format can be obtained by hiding a few of the columns in the Navy version.

[2016-08-19 11:37] caday00 opened #43 "Missing XCCDF IA / RMF Controls on POA&M and RAR"
After running Vulnerator there are several IA controls missing from XCCDF.xml files and .ckl files. I verified that these files did in fact have IA controls associated with them but they are not in the POA&M and RAR.  This occurs with both RMF and DIACAP options. The following STIG checklists and XCCDF output files are affected:
- Firewall Security Technical Implementation Guide - Cisco ::  V8 R19

[2016-08-22 02:12] caday00 commented on #43
Been working on this a little this weekend:

Windows 7 STIG Benchmark .xccdf works with RMF radio button but not DIACAP (only some controls)
Acess, Excel, PowerPoint, etc., 2010 .xccdf works with DIACAP radio button but not RMF
RedHat works for RMF but not for DIACAP
.ckl files work for DIACAP but not RMF

[2016-08-22 11:48] amkuchta commented on #43
@caday00 I'm on it.  I will try to take a look at this today - I think I know where the error is, just have to verify (and correct).  Thanks for reporting the issue!

[2016-08-23 13:55] amkuchta commented on #43
@caday00 which version of the application are you utilizing?  Looking into this, I am able to reproduce the issue with XCCDF files (and I have isolated the code - I am missing an "s" when looking for a node name), however, looking at CKL files (namely, the Cisco Perimeter and Firewall STIGs), I am able to pull both DIACAP and RMF data when it is available in the CKL (e.g. V-14643 in the Firewall S

[2016-08-23 14:58] caday00 commented on #43
I'm using version 6.1.2. I understand that some checks do not have an IA control listed. Specific to your example though, V-14643 has DIACAP controls (DCCS-2, ECSC-1) associated with. It may be good to have it fail to DIACAP or "no IA controls", it's easy enough to map DIACAP-to-RMF:

`<VULN>
                <STIG_DATA>
                    <VULN_ATTRIBUTE>Vuln_Num</VULN_ATTRIBUTE>

[2016-08-23 15:18] caday00 commented on #43
@amkuchta  Sample Checklist output file I'm using. Had to convert to .txt for github
[Cisco_ASA_Firewall_Checklist-sanitized.txt](https://github.com/Vulnerator/Vulnerator/files/432812/Cisco_ASA_Firewall_Checklist-sanitized.txt)

[2016-08-23 15:19] amkuchta commented on #43
@caday00 my mistake - I meant to note that V-14632 in the "Perimeter L3 Switch Security Technical Implementation Guide - Cisco ::  V8 R23" CKL does not have an IAC associated with it:

[code]

You are correct about V-14643.  However, Vulnerator pulled the IAC information for that from my CKL for the Firewall STIG (see attached)
[foo.xlsx](https://github.com/Vulnerator/Vulnerator/files/432813/foo.x

[2016-08-23 15:28] amkuchta commented on #43
@caday00 using the your sample, I was able to pull the DIACAP information via the use of 6.1.2 (document is attached).
[bar.xlsx](https://github.com/Vulnerator/Vulnerator/files/432841/bar.xlsx)

[2016-08-24 13:17] caday00 commented on #43
@amkuchta as mentioned previously, I'm aware some controls do not have IA controls associated with them. In a tool I was creating before I found this I solved this problem by converting DIACAP to RMF using the class below (I assume there is a smarter way but this is the best I was able to figure out).  For me, I would rather have the DIACAP controls than nothing and manually convert, but since DIA

[2016-08-24 15:04] amkuchta commented on #43
@caday00 I think I might have misunderstood your original issue - let me see if I can clarify:

You are not reporting the fact that there are blanks in the report but the data is present in the raw file (i.e. RMF data exists in the checklist but is not being exported into the final report), you're issue is that blanks are showing up at all (i.e. DIACAP controls exist in the CKL, but RMF controls d

[2016-08-24 16:45] caday00 commented on #43
@amkuchta I don't think you miss understood, I think the conversation is just evolving down this path. So originally, I thought that I was getting blank cells although data was present, and didn't realize that by design, if the RMF radio button is selected, that only those controls with RMF values would be reported and vice versa for DIACAP. I think I was expecting a conversion to occur if there w

[2016-08-25 11:34] amkuchta opened #44 "Automatically Convert DIACAP IAC(s) to RMF Control(s) when no CCI Reference is Available"
Per the discussion in #43 , a class should be created to automatically convert DIACAP IAC(s) to RMF control(s) when no RMF data is present.  This will greatly reduce the amount of "hand-jamming" that must be completed by the analyst.  A current mapping of IACs to NIST SP 800-53 controls can be found on the RMF Knowledge Service.

[2016-08-25 11:36] amkuchta commented on #43
@caday00 per the flow of this discussion, I have created  anew issue to separate track progress on implementing the custom class you have suggested.  I have also updated the title of this issue to more adequately identify the issue at hand.

[2016-08-25 16:20] Moe0303 opened #45 "STIG Import Tool"
Create functionality to import findings from STIG Checklists created with STIG Import tool.

[2016-08-25 16:40] amkuchta commented on #45
@Moe0303 is it a safe assumption that the "STIG Import Tool" in question is the one created by Julie Hart?

[2016-08-25 17:05] Moe0303 commented on #45
yeah, I tried to upload it, but it is an .xls.  I figured you have access.

[2016-08-25 18:44] amkuchta commented on #44
@caday00 is there any reason in particular that you included both Rev3 and Rev4 controls in the sample class provided in #43?  I am thinking of moving ahead using the DIACAP to RMF crosswalk provided by the RMF knowledge service, and it does not include the Rev3 line items.

[2016-08-25 20:08] caday00 commented on #44
Yes, unfortunately several IC authorizing officials are still using Rev3...

[2016-08-26 17:19] amkuchta commented on #44
@caday00 heard - I will work to integrate both, just to be on the safe side.

[2016-08-29 14:49] helms-rj opened #46 "POA&M/RAR output no longer includes valuable 'Risk Statement' and 'Recommended Corrective Action' data"
The last two Vulnerator releases (6.1.1 and now 6.1.2) omit the valuable data provided in version 6.0.2 when parsing XCCDF files and selecting RAR/POA&M output.  Specifically, on the RAR tab, the Risk Statement (5), and Recommended Corrective Action (9) fields that were included in v6.0.2 are gone in v6.1.2.  The Recommended Corrective Action data is vital for remediation work.  Also, in v6.1.2 th

[2016-08-29 16:30] amkuchta commented on #46
@helms-rj please allow me to answer your comment in two parts:

1. The two columns you referenced were intentionally removed in an attempt to comply with the DoD RMF RAR.  That being said, I will be making a future update to comply with the DoN RAR, which is more verbose while still complying with DoD standards for the sake of reciprocity - if I remember correctly, the DoN Template has the columns

[2016-08-29 17:34] amkuchta commented on #45
@Moe0303 I have access - I'll look at incorporating it into a future release.  As a side note, is there any particular reason that people are still using this instead of the DISA STIG Viewer?

[2016-08-29 18:09] amkuchta commented on #46
@helms-rj I had a second thought that is worth mentioning as an interim fix - the information that you are looking for for both STIG and ACAS findings can be found on the "STIG Details" and "ACAS Output" reports, respectively.

[2016-08-29 20:25] helms-rj commented on #46
Alex,
Thank you for the reply.   Because  of the way things work at my SPAWAR facility, we  have to rely on Vulnerator to get those details for remediation work.  It's too complicated to explain why, but we are not provided with any other SCAP scan results other than the XCCDF files.  We look forward to a future release that will add those columns back in.

I did not see #43 and #44, but did a qui

[2016-08-29 20:40] helms-rj commented on #46
Alex,
I was only referring to the STIGs, not ACAS.  I get the ACAS output information.  I  do not get the STIG Details when importing the XCCDF files, no matter what options I select.  The STIG Details & Review tab iscreated, but it is always blank.    Is that only available if importing .ckl files?

If so, I will have to import XCCDF into STIGViewer, create checklists, and then go back to Vulnera

[2016-08-30 11:45] amkuchta commented on #46
@helms-rj I will be implementing an update in the near future that will either create a new tab for SCCDF details or (more than likely) integrate the XCCDF Details into the "STIG Details" tab.

As a side note, I got a chance to really deep-dive the DoN RAR template yesterday - no Recommended Corrective Action or Risk Statement columns :disappointed:

[2016-08-30 11:56] amkuchta opened #47 "[Poll] XCCDF Details on Separate Report?"
Ok, time for some user feedback!  Which would you rather see, XCCDF Details in their own separate reports or integrated in with the STIG Details line items (since XCCDF is nothing but automated STIGs anyway).

To vote, please use the "Add your reaction" link at the top of this issue (next to the title) - thumbs up (+1) is a vote to give XCCDF Details its own tab, thumbs down (-1) tells me to integ

[2016-08-30 12:29] amkuchta commented on #4
I decided that since this is such a large enhancement, it merited its own minor release!

[2016-08-30 12:55] helms-rj commented on #46
Alex,
Thank you so much for your responsiveness.  I will wait for updates and leverage whatever new features I can.    I appreciate all the great work you and others have done in providing this tool!

Respectfully,
Rebecca

Rebecca Helms
Cyber Operations Lead/ISSE
PEO EIS PMW 240
SPAWAR Systems Center Atlantic, New Orleans Office
Work: (504) 697-1519
DSN: 647-1519
Mobile: (504) 782-9503
Email: reb

[2016-08-30 18:13] #43 closed

[2016-08-31 17:55] amkuchta opened #49 "Consolidated CKL Files do not Retrieve Individual STIG Names"
An update is required to pull individual STIG names from each STIG finding if the application detects that the CKL being processed is a consolidated amalgamation of various STIG lists.

[2016-08-31 20:21] Moe0303 commented on #45
It's a lot easier to navigate for actually doing STIG work.  The spreadsheet format makes it easy to look across several checks simultaneously vs clicking through a single check at a time.  Filters can be used to address similar checks with the same mitigation if it applies.  It is also handles the deltas more smoothly than the STIG Viewer/STIG Fusion combo.  There is no need to track down other f

[2016-09-01 10:31] Moe0303 commented on #45
I see two advantages STIG viewer has over the STIG import tool.
1. It is able to import STIGs from a zipped file
2. It's importable into Vulnerator.

I don't care about number 1, but number 2 would be nice. :)

[2016-09-01 15:12] amkuchta commented on #49
Upon further review, this is only an issue when importing CKL files generated via STIG Viewer 1.2.0.  The work around wil be to import the v1.2.0 checklist into v2.x, then re-generate the CKL file.  No change will be made since v1.2.0 is no longer available / supported.

[2016-09-01 15:12] #49 closed

[2016-09-07 22:13] jae-trinity commented on #37
VIDs are incorrectly labeled as STIG IDs in the STIG Details & Review

[2016-09-07 22:16] jae-trinity commented on #46
Recommend not updating the RAR, but providing the STIG "fix text" to the STIG Details & Review.

[2016-09-08 18:53] amkuchta opened #50 "Update "STIG ID" to "V-ID" on "STIG Details" Report"
Currently, the STIG ID does not refer to the actual STIG ID, but the V-ID:

- [x] Update "STIG ID" to "V-ID"
- [x] Incorporate "STIG ID" Column
- [x] Incorporate "Rule ID" Column

[2016-09-08 18:54] amkuchta commented on #37
^^ Tracked via #50

[2016-09-08 18:55] amkuchta commented on #46
Looking at the RAR template, I believe that @jae-trinity is on the right track.  The goal of the reports is to adhere as closely to the provided templates as possible - deviation means additional work for the analyst.

[2016-09-08 19:36] mcshea98 opened #51 "Issue with mapping hostname for .nessus files"
When conducting assessments of lab networks or systems, the *.nessus files do not populate the hostname properly.  I believe this is related to the ACAS server not being able to conduct DNS or Reverse DNS lookups.

When Vulnerator (v6.1.2 and prior) parses *.nessus files, it appears that only the <tag name="host-fqdn"> field maps to the "Hostname" column.  Can you add a rule that if there is no "h

[2016-09-08 21:22] amkuchta commented on #51
Incorporating some logic to utilize the NetBIOS name is not difficult (especially since you have done the work for me!). However, I am not familiar with host name tags in ACAS - do you have a *.nessus file that has an example of this?

As a side note, I am working on incorporating some major upgrades for v6.2.0 that will allow the user to manually map IPs back to host names; this should provide a

[2016-09-09 12:04] helms-rj commented on #46
I agree with that recommendation as it will resolve the issue of not having remediation guidance, yet retain the elements required for the RMF format.

Respectfully,
Rebecca

Rebecca Helms
Cyber Operations Lead/ISSE
PEO EIS PMW 240
SPAWAR Systems Center Atlantic, New Orleans Office
Work: (504) 697-1519
DSN: 647-1519
Mobile: (504) 782-9503
Email: rebecca.helms2@navy.mil

-----Original Message-----

[2016-09-09 12:12] mcshea98 commented on #51
I will find one that has data I can release.  Or I will replace the data with false information.

[2016-09-09 12:27] mcshea98 commented on #51
Here is an example that has the NetBIOS-name tag and a few plugins that report hostname.  I will find the correct syntax for the "hostname" tag.  I have only seen it a few times, so you could probably get by with just host-fqdn and NetBIOS-name.

`<ReportHost name="1.2.3.4"><HostProperties>
<tag name="HOST_END">Thu Aug 27 16:35:36 2015</tag>

...
<tag name="host-ip">1.2.3.4</tag>
<tag name="host-f

[2016-09-09 12:33] mcshea98 commented on #51
Here is an example that has the NetBIOS-name tag and a few plugins that report hostname. I will find the correct syntax for the "hostname" tag. I have only seen it a few times, so you could probably get by with just host-fqdn and NetBIOS-name. Also, I haven't code in C# before, so my recommendations should be considered pseudo code. Hope this helps.

[code]

[2016-09-09 12:38] mcshea98 commented on #51
Here is an example that has the NetBIOS-name tag and a few plugins that report hostname. I will find the correct syntax for the "hostname" tag. I have only seen it a few times, so you could probably get by with just host-fqdn and NetBIOS-name. Also, I haven't code in C# before, so my recommendations should be considered pseudo code. Hope this helps.

[code]

[2016-09-09 18:16] Moe0303 opened #52 "Check Content"
Any chance you can add the "check content" info from the STIGs to the STIG details page?

[2016-09-20 12:54] amkuchta commented on #52
I will knock this out when I complete #46 & #50

[2016-09-22 17:52] #33 closed

[2016-09-22 17:52] #51 closed

[2016-09-23 02:15] amkuchta commented on #44
@caday00 just a heads up, I am working on implementing this feature now; I am mapping out all of the controls to an XML file that will then be read at run time and used to populate the dictionaries for Rev3/4.  I figure that this will result in less code, and when Rev5 drops, all I have to do is update the XML file, add a new dictionary, and be done.

I am hoping to have this integrated by COB tom

[2016-09-28 16:47] #44 closed

[2016-09-28 18:38] amkuchta commented on #47
So, this has been open for over a month, and even though only two votes have rolled in, they both lean the same way.  Therefore, I will be updating the application to place XCCDF details in the "STIG Details" report.

[2016-09-28 20:22] #37 closed

[2016-09-28 20:22] #46 closed

[2016-09-28 20:22] #50 closed

[2016-09-28 20:22] #52 closed

[2016-09-28 20:27] amkuchta commented on #47
Resolved via #55 (just forgot to state that in the push / merge text... whoops)

[2016-09-28 20:27] #47 closed

[2016-10-21 16:34] #32 closed

[2016-10-24 13:56] #34 closed

[2016-10-25 20:38] spectreltd opened #61 "Consolidated CKL Files only show the name of the first STIG"
STIG check list that contain more then one STIG only show one STIG name. Example if the CKL has both Win 7 and .Net the output has only the .net STIG show.

The RAR tab has no status column. Not sure if this is intended. For us we need a Status column on this report.
Thank you

[2016-10-25 20:49] amkuchta commented on #61
@spectreltd with regards to the STIG Checklist, what version of the STIG Viewer was used to create the *.ckl file?

As for the RAR, I stuck strictly to the DoN RMF RAR Template, which does not have a status column (it is a RAR of NC controls).  From my understanding, the DoN template is the DoD template with additional columns (meaning the DoD template will not have a "Status" column, either).  If

[2016-10-25 21:56] spectreltd commented on #61
Hi Alex,
The STIG checklist was created with STIG Viewer 2.3.

On the RAR should only be listed items that are Non Compliant? The report
I'm looking at has all the items on the RAR.
Thank you
Ray

On Tue, Oct 25, 2016 at 4:49 PM, Alex Kuchta <notifications@github.com>
wrote:

[2016-10-25 22:39] Kod1ak commented on #61
Sorry to chime in here, but I'm very excited on where this tool is going and have subscribed to the forum as a result. The guidance I have received is that the RAR is the offline (day to day) running list of open and closed vulnerabilities. The POA&M (ultimately destined for eMASS) is the format used for ONLY those items that remain open. I know that VRAM only verifies items on the eMASS POA&M if

[2016-10-25 22:43] amkuchta commented on #61
No need to apologize! The whole point of the comment functionality on issues is to promote conversations!  I will take a look at the RAR Template on the RMFKS tomorrow morning and go from there. The issue is picking a template and rolling with it...

[2016-10-26 11:46] amkuchta commented on #61
@spectreltd & @Kod1ak I took a look at the DoD RAR on the RMFKS, and there is no Status column located in it, either.  To go further, it also specifies that it is a "RAR of NC Security Controls".  I am going to update the application to only show "Ongoing" findings in the RAR, but will not be updating the template so as to stick with the DoD standard.  I will also make an update to correct the iss

[2016-10-26 11:47] amkuchta opened #62 "RAR does not filter to only show "Ongoing" Security Controls"
Per the RAR template, the document should only show NC Security Controls - this comes as a result of the discussion in #61.

[2016-10-26 12:35] #61 closed

[2016-10-26 12:35] #62 closed

[2016-10-26 15:39] spectreltd commented on #61
Thank you

On Wed, Oct 26, 2016 at 7:46 AM, Alex Kuchta <notifications@github.com>
wrote:

[2016-10-26 16:28] cmartin732 opened #64 "Software list from ACAS input"
Please add the capability to generate a software by device list from ACAS input files.

[2016-10-26 16:30] amkuchta commented on #64
@cmartin732 this one is already in progress under #27 - it's just taking a bit of time to clean up the software dump that ACAS spits out 9it's ugly, as I am sure you have seen).

I am working to have this feature incorporated into the next release - stay tuned!

[2016-10-26 16:30] #64 closed

[2016-10-27 14:35] helms-rj opened #65 "Vulnerator v6.1.3 does not filter by the selected severity levels"
When parsing Nessus files for ACAS Scan Output, on the Reporting Options tab, regardless of the Severity boxes I select, (only 'CRITICAL, HIGH, MEDIUM, for example) " the output I get is for all  Risk Factors:  Critical, High, Medium, Low, and Informational.
This is especially problematic with all the Informationals.  How can this be corrected?

Note: The POA&M and RAR output provide a  "Raw Sever

[2016-10-27 14:45] amkuchta commented on #65
@helms-rj Which report do you find is doing this?  (e.g. POA&M, RAR, ACAS Ouptut, etc.)

[2016-10-27 15:38] helms-rj commented on #65
Alex,
I should have specified.  I'm using NESSUS files.  It's the ACAS output.

Respectfully,
Rebecca

Rebecca Helms
Cyber Operations Lead/ISSE
PEO EIS PMW 240
SPAWAR Systems Center Atlantic, New Orleans Office
Work: (504) 697-1519
DSN: 647-1519
Mobile: (504) 782-9503
Email: rebecca.helms2@navy.mil

-----Original Message-----
From: Alex Kuchta [mailto:notifications@github.com]
Sent: Thursday, Octo

[2016-10-27 17:46] amkuchta commented on #65
@helms-rj this was actually by design - I am only filtering out items on the RAR / POA&M because those are documents that are a part of the A&A process - filtering out informational findings, cutting them from the final document, and then removing filters leads to the potential to accidentally remove something in an unwanted manner.  The ACAS Output report is more for internal use, where filtering

[2016-10-27 18:01] helms-rj commented on #65
Alex,
My issue is only with the ACAS output, not the POA&M or RAR output.
Why are boxes provided to Select " Critical, High, Medium, Low, and Informational" if Vulnerator does not use them for the ACAS output  or any other output for that matter)?
If you want them all, you have the option to select them all.  If you don't want them all , you leave the boxes unchecked for what you don't need.

The

[2016-10-27 18:09] amkuchta commented on #65
@helms-rj the point of filtering is to allow for ease of use with regards to generating the POA&M and RAR.  I was asked not to filter the ACAS Output Report and STIG Details report due to the fact that they are used (in my office) largely to provide system administrators with information.  When we ask an SA to remediate a vulnerability, they often request information that may be present in an info

[2016-10-27 18:20] amkuchta commented on #65
@helms-rj I will build in an option to utilize filtering on the above-mentioned reports for the next release

[2016-10-27 21:05] helms-rj commented on #65
Alex,
That's great.  Thank you.  I am wondering why it is a functional feature in 6.0.2, but not in more recent releases.    We use this tool extensively for remediation work and tracking.  We take the output and modify the spreadsheets somewhat, but utilize most of what it provides.  We'd be less productive without Vulnerator, to be sure.

Respectfully,
Rebecca

Rebecca Helms
Cyber Operations Lea

[2016-11-02 19:42] Gerosolina opened #66 "Not All XCCDF Rule-Result Values Are Parsed"
ACAS version 6.1.4 still does not show the items that the SCAP tool did not review. In order to get a vulnerator report with SCAP data that shows items that are not reviewed, I still have to run my data through STIG viewer and then save a .CKL file and then import that to vulnerator. It would be great if the vulnerator tool could take raw SCAP data and show the not reviewed items by the SCAP tool

[2016-11-02 19:46] Gerosolina commented on #45
The STIG Import Tool show the not reviewed items that the SCAP tool raw results generates.  In order for vulnerator to get this data you have to run everything through STIG viewer then create a .CKL file and import it to vulnerator. It would be nice if Vulnerator could take the raw SCAP .XCCFD files and show the not reviewed items in the final vulnerator output.

[2016-11-02 19:47] john-sapienza opened #67 "Asset Overview CAT counts incorrect"
It appears that the CAT counts are not correct on the Asset overview tab when compared the ACAS output tab.   Also the total counts are off. I have confirmed this with v614 and v613. Please see attached screen shot.
![image](https://cloud.githubusercontent.com/assets/19436916/19944721/5b81fe14-a113-11e6-8abe-f3acbe87a129.png)

[2016-11-02 20:35] amkuchta commented on #66
@Gerosolina Currently, Vulnerator only has a hard-coded value for the `pass` rule result - everything else defaults to a failed state.

For v6.2.0, I will include some logic on how to handle the rest of the enumerated rule-results, as denoted [here](https://scap.nist.gov/specifications/xccdf/xccdf_element_dictionary.html#resultEnumType).

I should have this one implemented in a few days (more abou

[2016-11-02 20:37] amkuchta commented on #66
Also, I didn't know whether or not to label this as a "Bug" or "Enhancement", so I chose both 😆

[2016-11-02 20:46] amkuchta commented on #67
@john-sapienza I have a perfect correlation on my end; please keep in mind that Vulnerator does not strictly use the ACAS-assigned severity to define severity category.  Instead, the logic is as follows:

- If the plugin has an assigned "DISA STIG Severity" level, this is used as the Raw Risk; you may have a finding that is a "High" in ACAS but has a "DISA STIG Severity" of II, making it a CAT II

[2016-11-03 11:48] Gerosolina commented on #66
I can test a copy for you if you would like.

David Gerosolina, CISSP
LSODS Information Systems Security Officer
NAVAIR
Office#: (732) 323-2880
David.Gerosolina@Navy.mil

-----Original Message-----
From: Alex Kuchta [mailto:notifications@github.com]
Sent: Wednesday, November 02, 2016 4:35 PM
To: Vulnerator/Vulnerator
Cc: Gerosolina, David P CIV NAVAIR, 4.8.3.1; Mention
Subject: [Non-DoD Source] Re

[2016-11-03 11:51] john-sapienza commented on #67
Unless i'm totally mis-reading what you are saying,  I think they are still off. The totals in Column J  don't seem to be a sum of F,G,H & I  either. I have attached a sanitized copy of my output file for your review.  Thanks !

[rts3.xlsx](https://github.com/Vulnerator/Vulnerator/files/568831/rts3.xlsx)

[2016-11-03 12:16] amkuchta commented on #67
@john-sapienza I see what you are saying - I will look into this.

The total counts for your number of findings is correct, as are the CAT II/IV counts - only CAT I/III are off, and both are low... which doesn't make sense, since the total is correct.

Long story short, I am looking into it.

[2016-11-03 12:21] amkuchta commented on #67
Figured it out - it is only using the ACAS severity level to calculate the "Asset Overview" numbers.

I have an idea of why this may be happening - I'll test my theory and get back to you.

[2016-11-03 16:44] amkuchta commented on #67
@john-sapienza I got a fix worked in - I will commit a change in a little while that resolves this issue.  Thanks for bringing it to my attention!

[2016-11-03 16:53] john-sapienza commented on #67
That’s great news and a quick turnaround, Thanks Alex!

-----Original Message-----
From: Alex Kuchta [mailto:notifications@github.com]
Sent: Thursday, November 03, 2016 12:44 PM
To: Vulnerator/Vulnerator
Cc: Sapienza, John; Mention
Subject: Re: [Vulnerator/Vulnerator] Asset Overview CAT counts incorrect (#67)

@john-sapienza <https://github.com/john-sapienza>  I got a fix worked in - I will commit

[2016-11-04 00:21] #67 closed

[2016-11-17 16:04] Moe0303 commented on #45
@gerosolina, you import Scap Compliance Checker results into a .ckl to get the not reviewed items. Then, you can import just the .ckl into the vulnerator to track the entire STIG.

The STIG Import Tool provides the same functionality as the DISA STIG Viewer, but in a different format with added functionality.

[2016-12-09 21:36] amkuchta opened #69 "Incorporate Ability to Ingest HP WebInspect Files"
Moving this to its own issue for posterity and tracking reasons - originally a part of #35.  HP WebInspect file types need to be explored more to identify what is available for processing.

[2016-12-09 21:38] amkuchta opened #70 "ACAS Output Text Files Overwriting"
ACAS Output Text files are misnamed and do not include an asset identifier (Host Name, IP Address, etc.).  Because of this, the Output text files are overwriting themselves, only generating one file per plugin when there should be many (one for each asset affected when the text does not fit in an Excel cell).

[2016-12-24 03:08] amkuchta commented on #70
This wasn't an issue - I forgot that when the "Merge ACAS" option is selected, asset names are excluded from the file name.

In short, I'm an idiot.

[2016-12-24 03:08] #70 closed

[2016-12-24 03:13] #35 closed

[2016-12-29 13:18] Moe0303 opened #72 "NIST 800-53 control mapping"
I have begun mapping Nessus plugins to 800-53 controls and CCIs.  The data is in a spreadsheet.  so far, I have about 240 mappings.  Are you interested in the data?

[2016-12-29 13:39] rkotlarz commented on #72
Moe, I would devintely be interested in getting a copy of that spreadsheet. Feel free to send a copy to githubrelay [at] wandorivertech.com

[2017-01-03 12:57] amkuchta commented on #72
@Moe0303 Absolutely - send it my way, please.  I will work on serializing it out to an XML, which makes the data more usable on my end.  I will script this serialization, so that any updates can be easily incorporated.

[2017-01-04 15:06] helms-rj opened #73 "testing v6-1-5, cannot parse Fortify .fpr files"
I have tried parsing several Fortify .fpr files.  All attempts have failed.  I've attached the error log file for your review.
The .fpr files are from Fortify v 4.2.
[V6Log.txt](https://github.com/Vulnerator/Vulnerator/files/684987/V6Log.txt)

[2017-01-04 15:24] amkuchta commented on #73
@helms-rj is there any way that you can send me the FPR file?  You have a discrepancy in a portion of yours that I did not have in either of the files that I ran through during development (I think I know what it is, but I need to confirm)

[2017-01-04 15:36] helms-rj commented on #73
I've tested several and have the same results.  Here's one of the files.  Please do not distribute or post publicly.

Respectfully,
Rebecca

Rebecca Helms
Cyber Operations Lead/ISSE
PEO EIS PMW 240
SPAWAR Systems Center Atlantic, New Orleans Office
Work: (504) 697-1519
DSN: 647-1519
Mobile: (504) 782-9503
NIPR email: rebecca.helms2@navy.mil
SIPR email:  rebecca.helms@navy.smil.mil

-----Original M

[2017-01-05 20:20] amkuchta opened #75 "FPR files not pulling correct AS&D STIG Reference"
Within v6.1.6, multiple lines are created referencing the same AS&D STIG ID.  This is due to an error within the ```CreateAddUniqueFindingCommand``` method of ```FprReader```.  An update has been made to ensure reference to the correct STIG ID, if applicable, and will be introduced via the next pull request.

[2017-01-05 20:22] #75 closed

[2017-01-09 16:03] amkuchta opened #77 "Nessus File Host Names Containing "\" Causing Text File Errors"
# Issue
Currently, some device host names that are pulled from *.nessus files contain backslash ("\\") characters - these are throwing issues when trying to create ACAS Output *.txt files when the "Merge ACAS" option is *not* selected.

# Solution

- [x] Handle backslash characters prior to passing to output text writer.

[2017-01-11 06:18] dubandrew opened #78 "POAM Output"
I'm sure there is something I'm doing wrong but when I execute a POAM from a .ckl the comments are being added to the Mitigation statement (Column G) vice the comments (Column O).  I tried this from both the older and newer version of DISA STIG viewer.  Am I supposed to use another program to generate the .ckl? I added a test sample to show what is happening

[New Viewer Test.xlsx](https://github.

[2017-01-11 14:08] Moe0303 commented on #72
@rkotlarz I'm not really comfortable putting it out like that at this point until I get more plugins mapped.  I can tell you that the vast majority (80%) of the findings are mapped to CCI 2605, SI-2 (security relevant software updates.)

[2017-01-11 18:00] Moe0303 commented on #78
I think it is supposed to be like that.  Unfortunately, the STIG viewer doesn't have a "mitigations" section.  So if you were going to detail mitigations within the STIG, it would likely be in the comments section.

[2017-01-11 18:11] amkuchta commented on #78
@dubandrew I set the application to dump both the "Comments" and "Finding Details" sections into the "Mitigation" column on the POA&M by design.  The reason for this is that some users place their mitigation statement in "Comments", while others use "Finding Details" - to placing both options in Column G accommodates both sub-groups.

If you'd like comments in the "Comments" field, I suggest the f

[2017-01-11 18:11] #78 closed

[2017-01-11 18:33] rkotlarz commented on #72
@Moe0303 - Understood. I found the same discovery during our teams evaluation. Given the usage of the ACAS suite I'm surprised that this mapping hasn't been addressed and mitigated by Tenable or DISA already.

[2017-01-11 18:38] amkuchta commented on #72
@rkotlarz Honestly, I am not surprised.  Tenable is a multinational company that caters to plenty of private industry companies - the US DoD is simply one small portion of their business, and I doubt they would go through all of the effort to map every plugin just for us.  The return on investment for them just isn't there.

[2017-01-11 18:41] amkuchta commented on #72
Also, @Moe0303 , I am working on laying out a way that future updates to mappings can be easily parsed and ingested - please keep working on the mapping as you go, and I will incorporate changes over time.  It's on the roadmap, there just isn't a specific release that I feel comfortable tying it to right now (maybe 6.2.0 if I can get my butt in gear on it)

[2017-01-11 19:30] Moe0303 commented on #72
@rkotlarz Yeah, I often wondered the same thing.  Then again, I did a large portion of the old Retina control mapping and eEYE never did anything about that either.  I guess the bottom line is that the mapping doesn't really have a security benefit.  One of my concerns is that I don't want tenable or anyone else to profit off of the work.

@amkuchta Thanks.  So far, I have more than 350 controls m

[2017-01-12 05:59] dubandrew commented on #78
I have found STIGS to be an art and not a science so I understand the variations in how different organizations perform them.  Not that our way is better than anyone else but we leave the "comments" section for the Technician to add their comments, and the "Finding Details" to show the exact issue, or sometimes it gets populated with the long string of text from XCCDF file.  Once the POAM is gener

[2017-01-12 14:25] jojones44 opened #79 "STIG details question"
Good Morning,

I have question if you could help me that would be great. I uploaded the files from SCC to Vulerator a created the report. that worked great the only thing is in the STIG details, the solution column is coming up blank. Is there anything I'm doing wrong?

[2017-01-12 14:32] amkuchta commented on #79
@jojones44 Within the SCC file, there is no "Fix Text" provided that I can pull to place into the "Solution" column.  My suggestion is that you "Vulnerate" a blank copy of the associated *.ckl file (manual STIG checklist) along with the SCC - place the CKL in first, then the SCC file.  This should pull all of the fix text and associate it back to the appropriate vulnerability, which will then popu

[2017-01-19 16:53] MKStapleton opened #80 "STIG's Missing from POAM Tab"
I recently noticed that all of the Ongoing and/or Not Reviewed STIG ID's listed in the STIG Detail tab were not listed in the POA&M Tab.  I noticed this in version 6.1.4 and verified the same issue in version 6.1.7.  I verified that the POA&M Tab listed 13 of my Firewall STIG findings, however, the STIG Detail tab listed 24 ongoing Firewall STIG findings.  I validated the 24 open STIG findings lis

[2017-01-19 17:01] rkotlarz commented on #80
@MKStapleton In the past I've observed were certain text delimiters caused this same issue. If the checklist contains data in the [Finding details] and [Comments] sections try ingesting the checklist again without any metacharacters by simply erasing the content and typing "sample" in both fields.

[2017-01-20 13:48] MKStapleton commented on #80
**@rkotlarz** Why would I delete the data from the [Finding Details] and [Comments] section of the checklist?  I want that data captured in the POA&M, RAR, and STIG Details.  If deleting this data from the [Finding Details] and [Comments] section of the checklist I am trying to process, there is a problem with Vulnerator that needs to be addressed.

[2017-01-20 14:55] rkotlarz commented on #80
@MKStapleton The reason I recommended removing the data is to test whether or not any characters, metacharacters to be specific, are causing Vulnerator to fail while parsing the data. Vulnerator is a an awesome tool, but at the core it’s still nothing more than an XML parser that ingests data and exports it in an XML format that’s then compressed. When an application such as STIG viewer allows use

[2017-01-20 15:46] amkuchta commented on #80
@MKStapleton I couldn't have said it better myself.  @rkotlarz chances are there is a character (or characters) that I did not account for during the coding process (I tried to grab everything, but I may have missed something).  What I need from you:

- [ ] A sanitized version of the file (no host name or IP address) - this needs to have the vulnerability data populated so that I can see what is m

[2017-01-20 17:45] MKStapleton commented on #80
**@amkuchta** Alex, I have included the sanitized version as requested.  I reran it after sanitizing the checklist and noticed that the counts for STIG ID's now match between the STIG Detail tab and the POA&M tab.  Ran it several times with other checklists and ever the ACAS Scans to see if it would give me the results I was seeing before.  I cannot explain why it works now and can only assume tha

[2017-01-24 15:30] DLCOLE65 opened #81 ".csv failed to parse. need location of error log to analyze."
User guide doesn't provide location of error log when supplied file fails to process. Where is error log location.

[2017-01-24 16:45] LBKo opened #82 "Mapping of Values for Raw Test Result and Impact"
I'm using Vulnerator 6.1.7. I imported a STIG result (Win10 ckl file) and a nessus scan of the target and generated a Vulnerator report. For the STIG result, I looked at the RAR worksheet and the STIG Details worksheet. The RAR's Raw Test Result column (values I, II, III) appears to equate to the STIG Details' STIG Severity column, while the RAR's Impact column (values L, M, H) appears to equate t

[2017-01-24 19:17] amkuchta commented on #81
@DLCOLE65 I have been meaning to update the guide - thank you for the reminder!

The guide can be found at ```C:\Users\%UserName%\AppData\Roaming\Vulnerator\V6Log.txt```, with ```%UserName%``` replaced by the user name running the application.  As a side note, this is a hidden folder location, so you may need to adjust some settings to view it.

[2017-01-24 19:20] amkuchta commented on #82
@LBKo I don't think that I am following - can you please email a _**sanitized**_ version (no IP addresses or host names!) of the report to alex.kuchta@navy.mil? I'd like to get an idea of what exactly you are looking at.

[2017-01-24 20:42] LBKo commented on #82
Hi Alex

Here's the Vulnerator 6.1.7 report. I used an ACAS nessus file and a couple of ckl files from STIG Viewer. Within Vulnerator, I chose RMF, 800-53 Rev 4, and then I think I kept all other default settings. The nessus files are approximately 5 months old, and I did not run those scans. Same for the ckl files.

When comparing the report's RAR and STIG Details worksheets, I think the RAR's Ra

[2017-01-24 20:45] LBKo commented on #82
Leo Kotowski would like to recall the message, "[Vulnerator/Vulnerator] Mapping of Values for Raw Test Result and Impact (#82)".

[2017-01-25 14:54] joemarotta opened #83 "Not Running on Win 7 Hardened Image"
Want to know if anyone has had an issue running Vulnerator on a Windows 7 Hardened (Jedi) Image. Task Manager will show it running in Processes, but the program never opens. Anything we can look for? Logs?

Thanks

[2017-01-25 17:55] amkuchta commented on #83
@joemarottam, the error log can be found at C:\Users\%UserName%\AppData\Roaming\Vulnerator\V6Log.txt, with %UserName% replaced by the user name running the application. As a side note, this is a hidden folder location, so you may need to adjust some settings to view it.  If you can send it to me, I may be able to do some digging.

[2017-01-25 18:05] amkuchta commented on #82
@LBKo, I got the file - thank you!  To address your issues:

- You are correct - DISA STIG files have a one to one mapping:
  - High = CAT I
  - Medium = CAT II
  - Low = CAT III
- Things get a bit more difficult with ACAS - some findings have a "DISA STIG Severity" (CAT I/II/III) assigned by Tenable.  If this value exists, it is used to identify the Raw Risk and Impact of the plugin using the exa

[2017-01-26 03:58] rkotlarz commented on #83
@joemarottam I have found that if you're running a fully STIG / SRG hardened system that you'll run into issues with HIPS/HIDS frameworks (such a as McAfee) stopping non-pre-authorized software from running. If you suspect this is the case temporarily disable the "On Access Scanner" for testing. Keep in mind that most policies will turn this feature back on within a few minutes so if you plan on u

[2017-01-26 18:56] LBKo commented on #82
Alex

Thanks much for explaining. Most definitely helps. I, and other co-workers who use Vulnerator extensively, were not sure how Vulnerator correlated the ACAS results. I'll relay this info to them.

v/r

Leo B. Kotowski, CISSP
SimVentions, Inc.
100 Riverside Parkway, Suite 123
Fredericksburg, VA 22406
(540) 370-8341

-----Original Message-----
From: Alex Kuchta [mailto:notifications@github.com]

[2017-01-30 15:34] joemarotta commented on #83
![log](https://cloud.githubusercontent.com/assets/25329613/22429160/aa340ea8-e6d7-11e6-8586-d3a44580e956.JPG)

[2017-01-30 15:47] rkotlarz commented on #83
@joemarotta Until @amkuchta is able to respond I would verify that both the Vulnerator application files as well as your user account all have permission to read and write data.

![image](https://cloud.githubusercontent.com/assets/5693638/22429683/6a320272-e6d9-11e6-87a8-7d520710b604.png)

[2017-01-30 15:50] joemarotta commented on #83
I think it has something to due with folder redirection on our system. Our files are not stored locally in C:\Users\%UserName%\AppData\Roaming\Vulnerator,  they are stored on a server, example - \\Server\Share\Users\%UserName%\AppData\Roaming\Vulnerator.

I have verified permissions to the folders with full control. I have tried running as admin and still nothing happens. We can see the process st

[2017-01-30 15:56] amkuchta commented on #83
@joemarotta my initial diagnoses is that the hardened image is blocking the application from executing SQLite - without this, the application cannot run.  I would check the Windows event logs to see if they can provide any insight as to why the DLL would be prevented from running as a next step.

My bet is that "V-15724" is the check that is blocking the application from running.

[2017-01-30 16:43] rkotlarz commented on #83
@joemarotta Definitely look into Alex's comment but if you want to rule out the folder mapping you can enable symbolic linking to remote shares via GPO followed by leveraging the [mklink] comment to the path. For ref. the GPO can be found at [Computer Config], [Admin Templates], [System], [Filesystem], "Selectively allow the evaluation of a symbolic link".

![image](https://cloud.githubusercontent

[2017-02-01 16:26] rkotlarz opened #84 "Provide handling for all finding types and all fields when character count exceeds 32767"
I'm using Vulnerator V6.1.7 to read in a single checklist containing multiple STIGs / SRGs.

**Steps to reproduce the error:**
1. Launch Vulnerator application
2. Select [System Package Type], [RMF]
3. Select [NIST SP 800-53 Revision], [Revision 4]
4. Select [Import CKL]
5. Navigate to the path of the "Sanitized-multi-STIG-checklist.ckl" // sent to you via AMRDEC
6. Select [Execute]
7. Upon pop-up

[2017-02-01 16:31] CyberSecDef commented on #84
I've see that error pop up when the cell content is HUGE....as in larger than 32000 characters.  I'd bet there is some CKL that has way too much data in its comment field or something.

Robert F. Weber, Jr.
Senior Cyber Security Solutions Engineer
BS:IT/SW, CASP, CEH, FQNV, MCITP: EA/SA, CIW, JSE6, DBA, A/Net/Sec+
Office 540-653-9831
Mobile 540-538-7764
robert.weber.ctr@navy.mil<mailto:robert.webe

[2017-02-01 16:36] jjsheelar opened #85 "Klocwork SWA Integration"
Since we have the ability to import HP Fortify fpr files, could we expand since most are starting to use Klocwork as an additional static analyzer tool? Thanks!

[2017-02-01 16:38] amkuchta commented on #85
@jjsheelar please email me a copy of a Klocwork file that I can use to work on ingesting the data

[2017-02-01 16:57] rkotlarz commented on #83
@joemarotta I'm not sure what STIG @amkuchta was referring to, but another item you should consider in the Windows 7 STIG, is verifying that any application whitelisting tools in use have allowed the Vulnerator application to execute.

**Windows 7 Security Technical Implementation Guide, Version: 1, Release: 24,  28 Oct 2016**
Group ID (Vulid):  V-57637
Group Title: WIN00-000018
Rule ID: SV-75119r

[2017-02-01 17:27] rkotlarz commented on #84
@CyberSecDef Thanks for the input. I'll see if I can script something to perform a character count on between in each XML tag to look for anything over the 32000 limit.

[2017-02-01 17:37] CyberSecDef commented on #84
I believe the official limit from excel is 32768, but i always truncate at 32000 to be safe.

Robert F. Weber, Jr.
Senior Cyber Security Solutions Engineer
BS:IT/SW, CASP, CEH, FQNV, MCITP: EA/SA, CIW, JSE6, DBA, A/Net/Sec+
Office 540-653-9831
Mobile 540-538-7764
robert.weber.ctr@navy.mil<mailto:robert.weber.ctr@navy.mil>
weberjr_robert@bah.com<mailto:weberjr_robert@bah.com>
http://www.boozallen.c

[2017-02-01 19:18] rkotlarz commented on #84
@CyberSecDef You're guess was spot on! After looking at the raw data in the CKL file I found that STIG ID [RHEL-07-020880] contained an exceptional amount of characters and that when attempting to simply copy/paste this data into Excel resulted in data being truncated at the 32767 character limit.

@amkuchta If there's a backlog feature wish list, would you mind adding character limitation validat

[2017-02-01 19:20] amkuchta commented on #84
@rkotlarz not a problem, as I already do this for ACAS text. I am reopening this issue for tracking purposes (and probably changing the title)

[2017-02-07 16:58] #82 closed

[2017-02-07 16:58] #79 closed

[2017-02-07 21:13] aecasarez commented on #83
@joemarotta Have you figured out how to run this version in your environment? I am experiencing the same issues and we also have folder re-direction in place. Checked HIPS, OAS and windows logs with nothing found. My V6 log looks exactly the same.

[2017-02-08 02:26] rkotlarz commented on #83
If you're using Microsoft AppLocker, disable it temporarily to see if that's tripping it up.

Also while this shouldn't be the case, I've observed that some applications running over mapped shares fail as a result of UAC prompts not being permitted. Try changing the following value to [1] to see if that's the case.

Group ID (Vulid):  V-36439
Group Title: Local admin accounts filtered token policy

[2017-02-08 12:34] joemarotta commented on #83
@aecasarez - the only way I have been able to run it is to use a local account on the PC itself. The account we are using is local only and not using folder redirection. It works fine.

Once we try to use an account with Folder redirection, its a no go...

[2017-02-08 14:16] joemarotta opened #86 "Request - AF IC Non-mitigation Worksheet"
This is a request - is there anyway we can get an output for the AF IC Non-mitigation Worksheet incorperated?

[AFISRA Non-mitigation (Scans) Worksheet.xlsx](https://github.com/Vulnerator/Vulnerator/files/760834/AFISRA.Non-mitigation.Scans.Worksheet.xlsx)

[2017-02-08 14:27] amkuchta commented on #86
I can build this in for v6.2.0.  @joemarotta are the colors and fonts mandatory (e.g. Red Times New Roman), or do I have some wiggle room there?  (Red is not an issue, but I would prefer not define new cell formats for Times New Roman if I don't have to because... lazy)

[2017-02-08 14:49] joemarotta commented on #86
I don't think the font or color is mandatory. I'm pretty sure we just do ours in black and submit it that way.

[2017-02-08 15:35] aecasarez commented on #83
@rkotlarz @joemarotta Thanks. So we tested it with a local account and still no joy. A piece of info i didn't provide is that we are running this on a stand-alone system. Meaning there is no access to GitHub. So when we ran it with a local account, the errors were different. V6log errors: "Unable to retrieve GitHbi Vulnerator release listing" "Unable to retrieve GitHib Vulnerator issue listing"

[2017-02-08 15:39] amkuchta commented on #83
@aecasarez @rkotlarz @joemarotta the two items mentioned in the log above should not affect the application from starting - they are merely informational items to let the user (or me) know that the "News" lists are not going to populate due to a network issue or absence.  The application will still continue to compile, as the exceptions are handled appropriately.

[2017-02-08 15:56] joemarotta commented on #83
@aecasarez - is the local account an admin account or can you run it as admin?

[2017-02-08 17:33] rkotlarz commented on #83
@aecasarez Given that I receive a prompt that the digital signature could not be verified you may want to disable the following STIG setting for testing.

![image](https://cloud.githubusercontent.com/assets/5693638/22749218/898796aa-edfa-11e6-8256-e8a2a3d750ba.png)

**Group ID (Vulid):**  V-16008
**Group Title:** UAC - Application Elevations
**Rule ID:** SV-25120r1_rule
**Severity:** CAT II
**Rule

[2017-02-08 20:10] amkuchta commented on #83
@aecasarez @rkotlarz FYSA, I am looking into obtaining a digital signature so that I can digitally sign the application on each build - standby for that in the next release

[2017-02-08 21:03] jmontanez commented on #83
@amkuchta So the Cert issue isnt really and issue. We have already relaxed the STIG setting. The issue is the roaming profiles. This is our test scenario:

- On one security domain we dont use Roaming profiles and everything works great.
- On the other security domain we use Roaming profiles for general accounts and it doesnt work. Error logs say that it cannot build the DB.
- When we use another

[2017-02-08 22:28] rkotlarz commented on #83
@jmontanez I've experienced where system hardening for the Named Pipes settings resulted in networked issues with databases. Given that the SQLite application is on a network resource and that the issue subsides when you're not on a roaming profile I'd give these two a shot.

Group ID (Vulid):  V-3338
Group Title: Anonymous Access to Named Pipes

Group ID (Vulid):  V-6834
Group Title: Anonymous Ac

[2017-02-09 21:01] SPAWAR-NG opened #87 "Expecting Fortify POAM to provide all .fpr findings instead of just grouping by Class ID/Categorization. Is there a reasoning for the specific layout of the POA&M and Fortify Details or is this still an early release?"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [X] I have ensured that I am running the latest release
- [X] The issue is repeatable
- [X] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [ ] Bug
- [ ] Enhanc

[2017-02-10 13:58] amkuchta commented on #87
@SPAWAR-NG When you executed the parsing process, was "Group Fortify" checked?  If so, that would explain why the POA&M was grouped as you described - try unchecking it, and you should get the same number of findings in the POA&M that you get in the Fortify Details report.  For now, I have the "Details" tabs automatically "ungrouped"; I am looking at creating "per-report" filtering options for v6.

[2017-02-10 15:20] SPAWAR-NG commented on #87
Thanks Alex! However, the problem is that the report is still providing duplicates based off of multiple STIG IDs for the same finding. Are the per-report filtering options for v6.2.0 going to cover removing duplicate findings? For instance one finding may have multiple STIG IDs such as APP3050 and APP3120 and Vulnerator will treat that one findings as 2 instead of just 1.

The issue template was

[2017-02-10 17:40] amkuchta commented on #87
@SPAWAR-NG The duplicate findings are by design (for now).  My intention for the next iteration is to have the application use the HP Fortify results to generate a partially-complete AS&D STIG - in order to do that, I need to have a one-to-one mapping of Fortify findings to their applicable STIG checks in a "pivotable" manner, which is not something that the current database structure is set up fo

[2017-02-10 19:37] SPAWAR-NG commented on #87
@amkuchta Thanks a lot that does answer my question. I am eagerly awaiting v6.2.0!

[2017-02-10 19:37] #87 closed

[2017-02-14 17:31] davidpnelson opened #88 "STIG Detail Tab - More Cowbell"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [ X] I have ensured that I am running the latest release
- [ X] The issue is repeatable
- [ X] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [ ] Bug
- [ X] En

[2017-02-22 15:00] amkuchta opened #89 ""Not a Finding" Analysis Result in *.fpr Files Not Handled"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [x] I have ensured that I am running the latest release
- [x] The issue is repeatable
- [x] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [ ] Bug
- [x] Enhanc

[2017-02-22 15:15] amkuchta commented on #88
Incorporating some of these will require some updates to the database on the back-end, simply because I do not have a place to put the requested fields in the current version.  Luckily I am already working on revamping the database for v6.2.0, so this should slide in rather nicely.

[2017-02-22 15:18] amkuchta commented on #88
@davidpnelson I do not have an XCCDF that has some of the fields that you are requesting be ingested (e.g. "State Requirements", "Check Existence").  Can you please __*email*__ me a file that I can use for testing and incorporation? Also, what are you using to generate these files (e.g. SCC, ACAS, etc.)?

[2017-02-22 15:21] davidpnelson commented on #88
Cool. Timing is everything (or at least counts a lot).

David P. Nelson, CISSP, CAP
Cybersecurity Architect
Avosys Technology, Inc.
Direct: 210.744.4864
Office: 210.888.0775 | Mobile: 210. 885.5175 | eFax: 877.2.AVOSYS

Web: www.Avosys.com<http://www.avosys.com/> | Email: DNelson@Avosys.com<mailto:DNelson@Avosys.com>

From: Alex Kuchta [mailto:notifications@github.com]
Sent: Wednesday, February 22

[2017-02-22 19:49] davidpnelson commented on #88
I do not have an XCCDF file with these fields, but I have a redacted OVAL file. Would this help?

David P. Nelson, CISSP, CAP
Cybersecurity Architect
Avosys Technology, Inc.
Direct: 210.744.4864
Office: 210.888.0775 | Mobile: 210. 885.5175 | eFax: 877.2.AVOSYS

Web: www.Avosys.com<http://www.avosys.com/> | Email: DNelson@Avosys.com<mailto:DNelson@Avosys.com>

From: Alex Kuchta [mailto:notification

[2017-02-22 19:58] amkuchta commented on #88
@davidpnelson that works just fine - please email them to alex.kuchta@navy.mil and, if possible, encrypt the message.  Thank you in advance!

[2017-02-22 20:06] davidpnelson commented on #88
done

David P. Nelson, CISSP, CAP
Cybersecurity Architect
Avosys Technology, Inc.
Direct: 210.744.4864
Office: 210.888.0775 | Mobile: 210. 885.5175 | eFax: 877.2.AVOSYS

Web: www.Avosys.com<http://www.avosys.com/> | Email: DNelson@Avosys.com<mailto:DNelson@Avosys.com>

From: Alex Kuchta [mailto:notifications@github.com]
Sent: Wednesday, February 22, 2017 1:59 PM
To: Vulnerator/Vulnerator <Vulnerat

[2017-02-22 23:44] ibjohn commented on #45
Having long STIGs updated by DISA and having to manually transfer data from old .ckl to new .ckl sucks!  Can't wait for you to add this feature. It will help a LOT of people.

[2017-02-23 14:50] rkotlarz commented on #45
@ibjohn, If you need a moderately fast, yet still manual process of updating older CKL files to newer ones perform the following steps.

1. Download a clear text editor / IDE such as Notepad++, Eclipse, Visual Studio
2. Create "blank" CKL files using the latest STIG Viewer from DISA.
3. Open your old CKL file with the clear text editor that you downloaded.
4. Copy all data between XML tags, <VULN>

[2017-02-23 15:06] amkuchta commented on #45
@ibjohn @rkotlarz I think you guys have a different idea than what the original meaning of this issue was, but I am working on incorporating it as well.  I built another tool a while back that does a migration of data from old CKL files to new ones following the quarterly release called "STIG Fusion".  I haven't updated it recently, so I am not sure as to how well it works these days, but Iam goin

[2017-02-23 15:28] rkotlarz commented on #45
@amkuchta Awesome, thanks!

[2017-02-23 15:50] CyberSecDef commented on #45
Hey guys...Just wanted to let you know a package I maintain on GitHub that offers this STIG Updating process....along with a million other things.  It's a suite of powershell scripts that make maintaining and updating a lot easier.

The repo's are attached to

https://github.com/CyberSecDef

CSTS is the live version of the suite and this particular function is covered in the updateStig.ps1 script.

[2017-02-23 19:51] ibjohn commented on #45
@CyberSecDef and rkotlarz  - thanks, we'll give them a shot.

[2017-03-07 21:29] #89 closed

[2017-03-10 19:55] SPAWAR-NG opened #91 "Request for Web Inspect Compatibility"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [ ] I have ensured that I am running the latest release
- [ ] The issue is repeatable
- [X ] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [ ] Bug
- [ X] Enha

[2017-03-13 13:50] amkuchta commented on #91
@SPAWAR-NG, a few questions:

1. Is the *.fpr file format the file type generated following a WebInspect scan, or is this an exported file type?
2. If it is an export, is it easily done?  What is the file type generated following a scan?
3. Can you please email me a WebInspect *.fpr file (and the file generated post scan, if applicable).  Please email it to alex.kuchta@navy.mil with encryption.

[2017-03-14 13:31] amkuchta commented on #83
@jmontanez any movement on this?

[2017-03-14 13:32] amkuchta commented on #69
#91 duplicates this request, but is more verbose in its requirements - closing this issue in favor of the new one.

[2017-03-14 13:32] #69 closed

[2017-03-17 16:20] Ciscorm commented on #83
I have a very similar situation on my systems.  Vulnerator will launch fine when users do not have re-directed folders.  I was able to disable the setting "Restrict Anonymous Access to Named Pipes and Shares" from our hardened image, but it did not help.  The appdata folder is created, but the database creations fail.  Specifically in the V6Log when it doesn't work I see "FindingsDatabaseActions.c

[2017-03-30 12:41] amkuchta opened #92 "Update View & Refactor in Preparation for v6.2.0"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [x] I have ensured that I am running the latest release
- [x] The issue is repeatable
- [x] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [ ] Bug
- [x] Enhanc

[2017-04-03 13:17] amkuchta opened #93 "Error Parsing HP Fortify Files Without "BuildID" Field"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [x] I have ensured that I am running the latest release
- [x] The issue is repeatable
- [x] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [x] Bug
- [ ] Enhanc

[2017-04-05 19:05] nightskywatcher opened #94 "FindingsDatabaseActions.CreateUniqueFindingTable Issue"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [x] I have ensured that I am running the latest release
- [ ] The issue is repeatable
- [ ] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [x] Bug
- [ ] Enhanc

[2017-04-07 02:38] amkuchta commented on #84
@rkotlarz what field in the CKL file was giving you issues (e.g. "Check Content", "Fix Text", etc.)

[2017-04-07 12:47] rkotlarz commented on #84
I don't recall exactly if it was the "Finding details" or "comments" data entry field but Vulnerator didn't error out. It was Excel that had the issue so you should probably throw a warning if data between tags exceeds the character (includes spaces) count. Also I found a few other Excel specifications that you may want to also consider.

https://support.office.com/en-us/article/Excel-specificatio

[2017-04-07 13:31] amkuchta commented on #84
@rkotlarz I already have a method for handling extremely large amounts of text (seen [here](https://github.com/Vulnerator/Vulnerator/blob/testing/Model/OpenXmlReportCreator.cs#L2319-L2368)).  I am just trying to figure out when it needs to be used... I could make every cell run through the check, but  I don't want to impact performance too much.  I believe in only using items when absolutely neces

[2017-04-07 13:48] rkotlarz commented on #84
Perhaps include an option or command line switch to enable that function but leave it disabled by default. Then you could simply have it parse between XML tags and do a character count after the Excel file has been generated but before Vulnerator releases the file lock.

Typically I tell users leveraging the STIG viewer to execute commands listed in the STIG and copy the entire output in the "Find

[2017-04-07 14:25] amkuchta commented on #84
I think that if it causes an issue with the file being created correctly, it should be enabled by default.  I think this is also related to #7 , as I have a feeling that there is some large text that is running through my filter.

I am going to try running everything through the method to handle large files, and I am going to optimize that to handle short strings immediately - that should prevent

[2017-04-07 15:26] vanerj1996 commented on #84
Looking briefly in the ancient vulnerator builds...     I had to protect against oversized entries in "discussion"; and 'escape' special characters in Description,  Manual Fix, Manual Check, Details.

I mention them together because I had thought about combining them to "Scrub" most of the larger text-fields before exporting to Excel.

[2017-04-07 15:48] amkuchta commented on #84
@vanerj1996 I am going to "normalize" the text values in WriteCellValues:

[code]

then pass each of the "normalized" values through the large cell value handler.  I'll pass each item throguh to check its size, and return the original string if it is good-to-go:

[code]

This will also help to clean up some of the code in other areas.

[2017-04-07 18:31] amkuchta commented on #84
@rkotlarz @vanerj1996 ok, so I made a few changes that seem to resolve the issue:

- More fields are now run through `LargeCellValueHandler()`, including "Comments" and "FindingDetails"
- The threshold for character count that determines if the raw string is passed to `WriteCellValue()` has been lowered from 32767 to 32000, which gives some buffer room and also seems to resolve #7 (bonus!)

#99 ha

[2017-04-09 15:15] #77 closed

[2017-04-09 15:15] #66 closed

[2017-04-09 15:15] #7 closed

[2017-04-09 15:16] #94 closed

[2017-04-09 15:16] #84 closed

[2017-04-09 15:16] #93 closed

[2017-04-12 15:02] davidpnelson commented on #88
Hey Alex -

Just thinking here on how to assist you in mapping the needed scan result findings from the XCCDF XML file. Perhaps you've already addressed this.

Is it possible to use the OVAL scan results file output, which does have the finding details, to correlate the fields (checks and results) it has to the corresponding fields in the XCCDF scan results file that we need?

My thought is that t

[2017-04-14 21:15] w3key opened #102 "Can't get any of the versions of Vulnerator except 5 to execute"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [x] I have ensured that I am running the latest release
- [ ] The issue is repeatable
- [ ] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [ ] Bug
- [ ] Enhanc

[2017-04-14 21:16] w3key commented on #102
Cannot get any version to execute and startup except version 5

[2017-04-17 23:01] MichaelM00 opened #103 "Vulnerator Customized Output"
# Prerequisites
- [ X] I have ensured that I am running the latest release
- [ ] The issue is repeatable
- [ ] The issue has not already been reported

# Category
- [ ] Bug
- [X ] Enhancement
- [ ] Assistance Request

# Description
Requesting that vulnerator allow for a template approach or will allow for some flexibility to generating POA&MS.

Depending on the AO, customization to vulnerator outp

[2017-04-18 12:02] amkuchta commented on #102
@w3key can you please answer a few questions to help me diagnose the issue?

1. Is the system you are trying to run the application on hardened?
2. Are you extracting the entire file located in the *.zip you downloaded, or just the executable ("Vulnerator.exe")?

[2017-04-18 12:04] amkuchta commented on #103
@MichaelM00 just to make sure that I am on the same page as you are - from what I am gathering, you want the ability to select a template file, then use the template to generate a new file?  The other option would be for me to hard-code the required template in and make it a selectable report.  Thoughts on the best path forward to take?

[2017-04-18 13:11] w3key commented on #102
Hi Alex;
The system is hardened and I am using the entire contents of the zipfile
within that folder.

Thank you.

On Tue, Apr 18, 2017 at 5:02 AM, Alex Kuchta <notifications@github.com>
wrote:

[2017-04-18 13:15] amkuchta commented on #102
@w3key can you upload the log file? The location of the file can be found in the initial issue template at the bottom. Additionally, is the application creating a file called "VulneratorStartupLogFile.txt" (or something similar - I can't remember the exact name off of the top of my head, and I'm currently in DAU training) on your desktop?

[2017-04-18 13:33] CyberSecDef commented on #103
Just sharing my two cents.....RMF/DIACAP is a constantly changing process.  What works today will likely not work next week.  As such, I would definitely go with a method that is fluid.  Possibly something like a blank Excel template where the Cells contain tags that can be replaced in the 'template' with data from actual results.  Something like:

|Vulnerability  | Description

[2017-04-18 14:20] w3key commented on #102
Now this version that I'm currently trying to run is 6.1.9

I don't see a startuplogfile in the folder.  There aren't any .txt files in
the folder.

This version won't even execute and I have tried to get all the previous
version running as well.  Just like this version they will not bring up the
interface.  The only one that will run is version 5.

On Tue, Apr 18, 2017 at 6:15 AM, Alex Kuchta <no

[2017-04-18 14:21] w3key commented on #102
There is a file right under the Vulnerator.exe file called
Vulnerator.execonfig

On Tue, Apr 18, 2017 at 7:19 AM, W3KEY <w3key55@gmail.com> wrote:

[2017-04-18 14:23] w3key commented on #102
Yes this is the desktop version

On Tue, Apr 18, 2017 at 7:21 AM, W3KEY <w3key55@gmail.com> wrote:

[2017-04-18 14:45] amkuchta commented on #102
@w3key please go to

C:\Users\%UserName%\AppData\Roaming\Vulnerator

(Replacing %UserName%) with your user name and attach the V6Log.text file to this thread

[2017-04-18 14:54] w3key commented on #102
Thank you in advance for your attention Alex.

Jeff

On Tue, Apr 18, 2017 at 7:45 AM, Alex Kuchta <notifications@github.com>
wrote:

2017-04-18 07:16:39,439        INFO                                                     0                    Initializing application.
2017-04-18 07:16:39,470        INFO                                                     0                    Initializing DIACAP to

[2017-04-18 15:43] MichaelM00 commented on #103
Alex,

Working on getting you more details. The current organization I work with handles hundreds of different programs, so defining just one template might be difficult. I've reached out and am awaiting on additional feedback from different leads.

I would however, agree with Robert, flexibility of the tool will be crucial to it's success. In terms of accomplishing this, I'd suggest you keep your

[2017-04-18 16:06] amkuchta commented on #102
@w3key not a problem - from what I can see, it looks like the application is being blocked from creating the back-end database that it uses to store data at run time.  Is the asset you are running this on fully STIG'd?  What network are you on?

[2017-04-18 16:22] amkuchta commented on #103
@MichaelM00 @CyberSecDef the way that I see it, I can handle this any number of ways:

- Integrate additional static reports, as needed, and update them, as needed
- Integrate a basic "Custom Report Generator", which allows users to select the fields that they would like to see (and maybe add some basic "Group By" options & logic)
- Integrate a more robust "Custom Report Creator", which will allow

[2017-04-18 16:39] w3key commented on #102
It's a network that is not connected to the outside world.  Used as a
software development network but we are STIGing the servers, hosts and
clients to accredit.  Not sure what's keeping it from creating the database.

On Tue, Apr 18, 2017 at 9:06 AM, Alex Kuchta <notifications@github.com>
wrote:

[2017-04-18 16:40] MichaelM00 commented on #103
- Integrate additional static reports, as needed, and update them, as needed
This could pose problematic as depending on the number of programs that have custom requirements, you may be faced with alot of customization.

- Integrate a basic "Custom Report Generator", which allows users to select the fields that they would like to see (and maybe add some basic "Group By" options & logic)

This woul

[2017-04-18 16:41] amkuchta commented on #102
@w3key I am currently in DAU, but when I get out this evening, I'd like to AMRDEC you a debug copy that provides more robust logging. Do you have a .MIL email address I can send it to?

[2017-04-18 16:45] w3key commented on #102
I do, it is jeffrey.l.shell.ctr@mail.mil

Thank you so much.

On Tue, Apr 18, 2017 at 9:41 AM, Alex Kuchta <notifications@github.com>
wrote:

[2017-04-18 19:50] MichaelM00 commented on #83
It sounds like there needs to be a check to see if the necessary files can be created in the user's profile (%appdata%\Roaming\Vulnerator) or maybe conditional check to see if the profile is roaming?

If the file can't be created or it's on a network share, then a fallback location such as %temp% should be used? The redirected folder seems to be the one variable that's causing issue (Other than th

[2017-04-18 19:52] CyberSecDef commented on #83
'%temp%' is explicitly blocked here at NSWC DD.

-----Original Message-----
From: MichaelM00 [mailto:notifications@github.com]
Sent: Tuesday, April 18, 2017 3:51 PM
To: Vulnerator/Vulnerator
Cc: Subscribed
Subject: [Non-DoD Source] Re: [Vulnerator/Vulnerator] Not Running on Win 7 Hardened Image (#83)

It sounds like there needs to be a check to see if the necessary files can be created in the user

[2017-04-18 19:54] jmontanez commented on #83
All of DoD have %Temp% blocked by policy, so that will never work

On Tue, Apr 18, 2017 at 3:52 PM Robert Weber <notifications@github.com>
wrote:

[2017-04-18 19:56] CyberSecDef commented on #83
That in itself is one of the most annoying policies that really accomplishes nothing.

-----Original Message-----
From: jmontanez [mailto:notifications@github.com]
Sent: Tuesday, April 18, 2017 3:55 PM
To: Vulnerator/Vulnerator
Cc: Weber, Robert Jr CTR NSWCDD, B0I; Comment
Subject: [Non-DoD Source] Re: [Vulnerator/Vulnerator] Not Running on Win 7 Hardened Image (#83)

All of DoD have %Temp% blocke

[2017-04-18 19:57] MichaelM00 commented on #86
This could be resolved with enhancement #103

[2017-04-18 20:53] Ciscorm commented on #83
It is possible that if in:

FindingsDatabaseActions.cs
(Environment.SpecialFolder.ApplicationData) was instead -> (Environment.SpecialFolder.LocalApplicationData) for the findingsDatabaseFilePath
The SQLite DB would exist locally instead of on the network (re-directed) location, and it would still be synchronized with the roaming profile in theory.

There are probably many other factors that I do

[2017-04-18 20:56] MichaelM00 commented on #83
Noticed that your using `Environment.SpecialFolder.ApplicationData` to determine the path for the sqlite database.

Would `Environment.SpecialFolder.LocalApplicationData` possibly resolve the issue. Per MSDN

_The directory that serves as a common repository for application-specific data that is used by the current, non-roaming user._

Or is DoD also blocking the local application data folder?

ht

[2017-04-19 00:28] 46-Michael opened #104 "Incorporate License into Download and "About" Screen"
# Prerequisites
- [X] I have ensured that I am running the latest release
- [ ] The issue is repeatable
- [X] The issue has not already been reported

# Category
- [ ] Bug
- [X] Enhancement
- [ ] Assistance Request

# Description
Although the Github page alludes to it with "SoftwareForge to the public domain" (https://github.com/Vulnerator/Vulnerator/blob/86351675c3c746738ba9f55d28e3217f31f544d0/r

[2017-04-19 12:02] amkuchta commented on #104
@MichaelM00 I have updated the project to include the license file (MIT) - it should now be visible to all on the home page of the application.  For some reason, it didn't take when I initially created the repository (or I forgot to do it, which is not entirely outside of the realm of possibility).

Thanks for catching this!

[2017-04-19 12:06] amkuchta commented on #83
@joemarotta @rkotlarz @aecasarez @jmontanez @Ciscorm @CyberSecDef @MichaelM00 moving the location of the Vulnerator file to `Environment.SpecialFolder.LocalApplicationData` wouldn't be too difficult - perhaps I can include some logic to utilize that as a fallback?

[2017-04-19 12:45] amkuchta commented on #103
@MichaelM00 @CyberSecDef  I think that it would be too difficult for users to define their own report via XML, and if I am going to do this, I want it to be usable by all.  My concept is a multi-step process that integrates into the GUI for ease-of-use:

1. Have users select the columns they need (e.g. Col. A = Title, Col. B = Description)
    - Users will also have the ability / option to place m

[2017-04-19 14:09] CyberSecDef commented on #83
Just curious, because I haven't coded in C# in years.  Is it possible to keep everything, including the data files, in the directory that Vulnerator executes from?  Might make things go smoother on hardened systems.

Robert F. Weber, Jr.
Senior Cyber Security Solutions Engineer
BS:IT/SW, CASP, CEH, FQNV, MCITP: EA/SA, CIW, JSE6, DBA, A/Net/Sec+
Office 540-653-9831
Mobile 540-538-7764
robert.weber.

[2017-04-19 14:09] CyberSecDef commented on #103
I really like this plan moving forward.  It's gonna be a pain to get done, but I think definitely has the highest return on investment.

Robert F. Weber, Jr.
Senior Cyber Security Solutions Engineer
BS:IT/SW, CASP, CEH, FQNV, MCITP: EA/SA, CIW, JSE6, DBA, A/Net/Sec+
Office 540-653-9831
Mobile 540-538-7764
robert.weber.ctr@navy.mil<mailto:robert.weber.ctr@navy.mil>
weberjr_robert@bah.com<mailto:web

[2017-04-19 14:12] amkuchta commented on #83
@CyberSecDef it absolutely is - how does everyone else feel about moving everything there?  It would also make finding items like the Log, Config, and Database files much easier...  My only concern is that users will accidentally delete something if it is right in front of them (hence the reason I "hid" it in the first place)

[2017-04-19 14:27] CyberSecDef commented on #83
I like the idea of having everything self contained in the vulnerator folder.  Maybe just add a  blurb to a readme saying 'dont delete things'

Robert F. Weber, Jr.
Senior Cyber Security Solutions Engineer
BS:IT/SW, CASP, CEH, FQNV, MCITP: EA/SA, CIW, JSE6, DBA, A/Net/Sec+
Office 540-653-9831
Mobile 540-538-7764
robert.weber.ctr@navy.mil<mailto:robert.weber.ctr@navy.mil>
weberjr_robert@bah.com<mai

[2017-04-19 15:45] vanerj1996 commented on #83
It all depends on where you put the folder.

If you were to install Vulnerator in "C:\Windows", "Program Files", or "Program Files (x86)" you'd have a STIG problem.
- Those folders are supposed to be written/modified only by a "Trusted Installer". For all other use (or other users), the files are read-only.
- In this model, runtime-modifiable files need to go elsewhere. If user specific, then in e

[2017-04-19 15:50] MichaelM00 commented on #83
Self contained in the Vulnerator folder! Makes it truly portable and won't alter the system it's running on.. This would be key for anyone acting in an Independent Auditor/SCA type role running vulnerator on the actual system.

[2017-04-19 15:58] CyberSecDef commented on #83
ironically...on my RDTE machine I have a folder

c:\sandbox\

where I install all the tools and scripts I use for work.

Robert F. Weber, Jr.
Senior Cyber Security Solutions Engineer
BS:IT/SW, CASP, CEH, FQNV, MCITP: EA/SA, CIW, JSE6, DBA, A/Net/Sec+
Office 540-653-9831
Mobile 540-538-7764
robert.weber.ctr@navy.mil<mailto:robert.weber.ctr@navy.mil>
weberjr_robert@bah.com<mailto:weberjr_robert@bah.

[2017-04-19 15:59] vanerj1996 commented on #83
I suppose I'd ask next about lifecycle. If Vulnerator is "installed" on audit day to wrangle some data, produce reports, and promptly gets deleted. Then the single folder model is the way to go.

But if Vulnerator is installed "long term". Such that is had a "database" of findings/mitigations over time, (months/quarters) etc. Then it should be "installed" in a more typical place, and keep its data

[2017-04-19 16:07] CyberSecDef commented on #83
How about a choice during install?

Do you want to create a portal app or store db in user folders?

Robert F. Weber, Jr.
Senior Cyber Security Solutions Engineer
BS:IT/SW, CASP, CEH, FQNV, MCITP: EA/SA, CIW, JSE6, DBA, A/Net/Sec+
Office 540-653-9831
Mobile 540-538-7764
robert.weber.ctr@navy.mil<mailto:robert.weber.ctr@navy.mil>
weberjr_robert@bah.com<mailto:weberjr_robert@bah.com>
http://www.booz

[2017-04-19 16:40] amkuchta commented on #83
@vanerj1996 @rkotlarz @CyberSecDef @MichaelM00 the "lifecycle" wouldn't matter much, as users can adjust where they store their database in-app (there is a setting for it).  The initial creation place would be in the Vulnerator folder, but users would have the ability to modify that at a later time to place the database in a more permanent or shared location.  With regards to the config file, it i

[2017-04-19 17:07] Ciscorm commented on #83
@amkuchta (and everyone) just a couple thoughts on the recent comments - placing the Log, Config, and Database files in the runtime folder would work except in VDI scenarios where machines are refreshed.  I think those remaining in the user profile with the  Environment.SpecialFolder.LocalApplicationData  adjustment would be best because those should be synchronized.

As for placing the files/exe

[2017-04-19 17:13] MichaelM00 commented on #103
@amkuchta, The XML comment was intended to allow for greater flexibility.

With that said, once the XML template import functionality is established/documented, a GUI as you describe could be built which would leverage the XML schema that was previously built in (User selects what they want, XML is generated behind the scenes for them).

[2017-04-19 17:31] MichaelM00 commented on #104
Sigh,
Silly Legal.

Would it be possible to add a license reference in the program itself (on the about page).  Something like

![image](https://cloud.githubusercontent.com/assets/7794436/25193252/0f4e7406-24fc-11e7-864d-75bdb0bc2651.png)

[2017-04-19 17:35] amkuchta commented on #83
@Ciscorm I can see the argument for having an option to keep the files in a non-updating location.  Maybe I could have a startup action that prompts users for their preferred location for the referenced files?  Having the config and log files overwrite is not a huge deal - all that is stored in the config file is reporting preferences and theme selections, which are easily replacable, and log file

[2017-04-19 17:36] amkuchta commented on #104
@MichaelM00 Not a problem! I'll re-open and milestone it for v6.2.0

[2017-04-19 17:37] amkuchta commented on #104
I'll work this in tandem with #92

[2017-04-19 17:58] MichaelM00 commented on #104
One last thought, if you are wrapping this up into an installer, the license should also be placed as part of the installer (like the typical EULA you see in installers).

I've seen some legal counsel state that we are unable to proceed with installing software that doesn't present a license since the act of a installation conveys use of the product or something.

The alternative to this approach

[2017-04-19 18:00] amkuchta commented on #104
@MichaelM00 because Vulnerator does not install, I will include it in the zip directory, allowing users to view it during download.  Additionally, I will embed it as readable text on the "About" page, which should cover the base two different ways.

[2017-04-19 18:05] MichaelM00 commented on #104
Thanks! Greatly appreciate that. Although this seems trivial, it will really save people alot of time going back and forth with legal (speaking from experience).

[2017-04-19 20:46] Ciscorm commented on #83
About whitelisting: thanks for the reminder that we can (obviously) place the folder in a whitelist location. I think I started having tunnel vision on that subject.

Clarify one thing for me about the config files, are we talking about moving the Log/Config/Database files to the runtime (meaning the Vulnerator_v*) folder instead of the user/AppData?  Or are we still talking about trying to adjust

[2017-04-19 23:17] jmontanez commented on #83
The only STIG requirement is that the EVERYONE group cannot have access to
a folder on the C:\ but Authenticated User is perfect for this.
On Wed, Apr 19, 2017 at 4:46 PM Ciscorm <notifications@github.com> wrote:

[2017-04-19 23:36] amkuchta commented on #83
@Ciscorm I believe that the way things are leaning, I am going to give users the option to launch the application in either a "contained" or "persistent" state; contained will tell Vulnerator to create relevant files in the "Vulnerator_v*" folder, whereas persistent will indicate that the files should be installed in .ApplicationData

[2017-04-20 19:06] Ciscorm commented on #83
@amkuchta That would work.  Thanks for your time and help with this issue! - Cisco

[2017-04-24 16:55] amkuchta commented on #102
@w3key sorry for the delay, but I just now got around to getting the debug version shipped out - you should get a notification in your .mil email account with pick-up instructions momentarily.

Once downloaded, try extracting and running the application like you normally would - it should generate a more verbose log file, which you can then email to alex.kuchta@navy.mil

[2017-04-24 17:35] w3key commented on #102
Thanks Alex,
I have the file and will send the logfile shortly.  Thank you for your
attention.

On Mon, Apr 24, 2017 at 9:55 AM, Alex Kuchta <notifications@github.com>
wrote:

[2017-04-26 15:10] amkuchta commented on #104
@MichaelM00 Boom! (Also, a sneak peak at some layout changes :wink:
![embeddedlicense](https://cloud.githubusercontent.com/assets/6255186/25441687/f03827ea-2a70-11e7-8577-8bfd7b46c870.jpg)

[2017-04-26 17:29] #102 closed

[2017-04-27 15:29] MichaelM00 commented on #104
Thanks!

[2017-04-27 15:38] amkuchta commented on #104
@MichaelM00 I'm going to keep this open until it is formally closed in the master branch.  Glad you approve!

[2017-04-27 16:06] MichaelM00 opened #108 "Severity Override does not function"
# Prerequisites

- [X ] I have ensured that I am running the latest release
- [ ] The issue is repeatable
- [ ] The issue has not already been reported

# Category

- [ X] Bug
- [ X] Enhancement
- [ ] Assistance Request

# Description
Severity override in CKLs is not transferring to severity on the POA&M and STIG Details tab. Asset overview totals aren't calculated on the severity override.

## Sy

[2017-04-27 16:40] MichaelM00 commented on #108
Example XML snippet

<SEVERITY_OVERRIDE>CAT III</SEVERITY_OVERRIDE>
<SEVERITY_JUSTIFICATION>Severity Override Guidance Goes Here</SEVERITY_JUSTIFICATION>

[2017-04-30 13:25] amkuchta commented on #108
@MichaelM00 I never coded it into the previous versions to handle the severity override values (along with a handful of others).  I'll ensure that all values are handled in upcoming versions (if not 6.2.0 then *probably* 6.2.1)

[2017-04-30 20:36] MichaelM00 commented on #108
In STIG Viewer 2.X, the format has changed (It appears that DISA no longer uses CAT X format). The previously provided XML snippet was from STIG Viewer 1.2.

[code]

Thanks for putting this on the roadmap!

[2017-05-01 19:51] ibjohn commented on #45
@amkuchta Where can I get STIG Fusion at?

[2017-05-01 19:55] ibjohn opened #109 "Most SCAs reject NA and not a finding w/o comments - need some kind of indicator to make blank comments stand out"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [ ] I have ensured that I am running the latest release
- [ ] The issue is repeatable
- [ ] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [ ] Bug
- [ ] Enhanc

[2017-05-08 20:05] LBKo commented on #82
Alex

Another related question... up front. How is Vulnerator's Impact field value determined by digesting ckl and nessus files?

I have used Vulnerator 6.1.7 with ckl and nessus files. On the Vulnerator RAR tab, I noticed the Impact column was prepopulated with risk factor values -- VL, L, M, H, VH.

Per the Navy's RAR template, Impact is "Determine the adverse impact (i.e., potential harm to org

[2017-05-09 17:39] amkuchta commented on #83
@joemarotta @rkotlarz @aecasarez @jmontanez @Ciscorm @CyberSecDef @vanerj1996 @MichaelM00 so, I need to add a splash screen in between the initial prompt and the main window, but this GIF gives you an idea of how it will work (click to open it in a larger view):

![portablepersistent](https://cloud.githubusercontent.com/assets/6255186/25864234/b5302278-34bc-11e7-9e5a-705ea6f178cb.gif)

Thoughts?

[2017-05-09 17:43] jmontanez commented on #83
NIce, When will it be ready to use?

On Tue, May 9, 2017 at 1:39 PM Alex Kuchta <notifications@github.com> wrote:

[2017-05-09 18:01] amkuchta commented on #83
@jmontanez honestly, I am not entirely sure yet - it's part of the 6.2.0 release, which will be a hot minute due to the scope of work involved.

You can track the project progress [here](https://github.com/Vulnerator/Vulnerator/projects/2)

[2017-05-11 17:35] CyberSecDef commented on #83
Love the background....but the customer base might not :)

-----Original Message-----
From: Alex Kuchta [mailto:notifications@github.com]
Sent: Tuesday, May 09, 2017 1:39 PM
To: Vulnerator/Vulnerator
Cc: Weber, Robert Jr CTR NSWCDD, B0I; Mention
Subject: [Non-DoD Source] Re: [Vulnerator/Vulnerator] Not Running on Win 7 Hardened Image (#83)

@joemarotta <https://github.com/joemarotta>  @rkotlarz <h

[2017-05-11 23:09] brjones3 opened #110 "STIG Tests with Multiple CCIs: only one CCI is output"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [x] I have ensured that I am running the latest release
- [x] The issue is repeatable
- [x] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [x] Bug
- [ ] Enhanc

[2017-05-12 18:18] 2p15a5d9r14e7 opened #111 "Vulnerator - tool identifier in RAR"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [ ] I have ensured that I am running the latest release
- [ ] The issue is repeatable
- [ ] The issue has not already been reported

# Vulnerator: tool identified, change to Nessus instead of ACAS.

- [ ] Bug
- [X] Enhanc

[2017-05-16 03:43] Peter-I opened #112 "Error V6-1-9 Unable to parse XCCDF using XML reader"
# Prerequisites
Version 6.1.9 cannot find similar issue
[V6Log.txt](https://github.com/Vulnerator/Vulnerator/files/1003141/V6Log.txt)

# Category
Assistance

- [ ] Assistance Request

# Description
When I select any XCCDF files from recent SCC results, every file displays error and no results.

It is also happening with the previous version of Vulnerator I also have on my system. Everything is fin

[2017-05-16 12:00] amkuchta commented on #109
@ibjohn is there any reason that filtering does not suit your needs?  And on which reports would you want the color coding to be?

[2017-05-16 12:04] amkuchta commented on #112
@Peter-I do you have a *.mil account that I can use to send you a debug version of the application?  Alternatively, you could send me a sanitized version of the file you are using (no host name . IP address) at alex.kuchta@navy.mil - whichever you are more comfortable with.

[2017-05-16 12:07] ibjohn commented on #109
For many of us, you are absolutely correct.
Just thinking of just making it easier to not overlook for the users. That means less chance of me and others rejecting RARs.

[2017-05-16 12:15] Peter-I commented on #112
Alex,

   Thanks for the help. I don’t have a .mil account.

   Are you looking for the PC_SCC-3.1.2_2017-01-20_120304_XCCDF-Results_U_Microsoft_DotNet_Framework_4_V1R4_STIG_SCAP_1-1_Benchmark.xml file itself? The results are from a machine that is not on any network so have no issues sending it to you directly. The other puzzling thing is that I was able to parse this exact same file using Vulner

[2017-05-16 13:53] CyberSecDef commented on #109
I've found when I've generated RAR/POAMs that setting the cell background to yellow when data was missing was helpful for our team mates.  Maybe set something on the output generator to do the same for vulnerator?

-----Original Message-----
From: ibjohn [mailto:notifications@github.com]
Sent: Tuesday, May 16, 2017 8:08 AM
To: Vulnerator/Vulnerator
Cc: Subscribed
Subject: [Non-DoD Source] Re: [Vul

[2017-05-16 16:59] ScotTurley opened #113 "Coverity SCA Integration"
Would it be possible to generate a RAR/POA&M from Coverity results?
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [ ] I have ensured that I am running the latest release
- [ ] The issue is repeatable
- [ ] The issue has not already been reported

# Category
_Please s

[2017-05-16 19:57] brjones3 opened #114 "Allow selecting 800-53 V4 with "fallback" to V3 if no V4 Security Control"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [x ] I have ensured that I am running the latest release
- [x ] The issue is repeatable
- [x ] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [ ] Bug
- [x ] En

[2017-05-18 23:30] Peter-I commented on #112
So I placed all the urls (as viewed in the XCCDF results file) in my browser bypass list, so those url wouldn't be able to connect and discovered the issue (parse fails) is when the system is able  to get to something in " cpe.mitre.org".

    When only that url is in my bypass list, the files will be processed. Although it seems when connected, it must time out first so each separate file to be p

[2017-05-22 13:11] amkuchta commented on #112
@Peter-I unfortunately, I am unable to reproduce the issue, both on a STIG'd and non-STIG'd system.  I have had no issues with running your file through connected systems - has your environment changed recently?

[2017-05-22 13:13] amkuchta commented on #113
@ScotTurley this is definitely doable - all I will need is an example of the file type so that I can write the logic for ingestion.

If you could, please send me a file to parse at alex.kuchta@navy.mil.  Please make sure that the file is sanitized (e.g. IP addresses and Host Names are replaced with generic text).

[2017-05-22 13:17] amkuchta commented on #114
@brjones3 how often does a STIG not have a v4 control? Does DISA address this in each of their quarterly updates?  I am hesitant to put out-of-date information into POA&Ms, as users may not know that the input is a "dated" placeholder.

Thoughts?

[2017-05-22 18:53] Sean-Be opened #115 "ACAS SCAP Failure to Parse"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [x ] I have ensured that I am running the latest release
- [x ] The issue is repeatable
- [x ] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [ ] Bug
- [ ] Enh

[2017-05-22 19:00] Sean-Be commented on #115
[V6Log.txt](https://github.com/Vulnerator/Vulnerator/files/1019911/V6Log.txt)

[2017-05-22 23:28] Peter-I commented on #112
Alex,

   So I will take the debug version and try from my home PC. It must be something in our corporate environment but having difficulty finding out what it could be, since these worked 60 days ago.

   The person who helped me with a workaround seems to believe it is an DOTNET issue or change. What do these debug log files imply to you about the root cause?

Thanks,

Peter

Peter Ingraham
Pete

[2017-05-22 23:53] brjones3 commented on #114
I don't know how often the test does not map to an R4 SC.  An example is RHEL5 STIG V-867 with CCI-001435, which maps to NIST V3 SC AC-17(8).  After looking at the STIGs I have a different opinion about how to map CCIs to Security Controls (SC) in Vulnerator.  I realize the mapping is not in the STIG itself but in the U_CCI_List.xml from IASE.  My opinion is the ideal solution would be to map CCIs

[2017-05-23 02:49] amkuchta commented on #115
@Sean-Be are you able to provide a sanitized version of the file you attempted to process (host name / IP addresses removed) via an encrypted email to alex.kuchta@navy.mil?  I would like to run it through the debugger to identify the issue at hand, if possible.

[2017-05-23 14:35] CyberSecDef commented on #114
Just adding some tangential information to this thread as I just completed the Navy Validator course.

Under RMF.....
Every Security Control will map to at least 1 CCI number.
Each Assessment Procedure will also map to at least 1 CCI Number.
Every STIG and SCAP requirement will eventually map to at least 1 CCI Number (DISA is working this)
ACAS findings should also map to at least 1 CCI Number (th

[2017-05-23 17:00] brjones3 opened #116 "Change how 8500.2 IACs are mapped to 800-53 SCs - remove R3 mappings"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [x ] I have ensured that I am running the latest release
- [x ] The issue is repeatable
- [x ] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [ ] Bug
- [x ] En

[2017-05-25 14:34] BradP316 opened #117 "Stuck on "Creating Report Template...""
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [x] I have ensured that I am running the latest release
- [x] The issue is repeatable
- [x] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [ ] Bug
- [ ] Enhanc

[2017-05-25 14:47] amkuchta commented on #117
@BradP316 can you please upload the log file (or copy and paste its contents into a comment) for review?  If you feel that it contains sensitive data, please feel free to "scrub" it and send it via encrypted email to alex.kuchta@navy.mil

[2017-05-25 14:51] amkuchta commented on #116
@brjones3 I am temporarily putting this on hold, but it will probably go into v6.2.0.  I just added a few members to the organization so that I can use a team tag to get some feedback - I am just waiting for them to accept the invitation.  Hang tight!

[2017-05-26 12:36] amkuchta commented on #83
@joemarotta @CyberSecDef @MichaelM00 @rkotlarz I have sent you invites to become "members" of the Vulnerator organization as user reps - you provide consistent feedback, and I need a peanut gallery to bounce ideas off of.

If you wouldn't mind accepting the invitation (you'll have to enable two-factor authentication for your account, which is actually quite easy), that would be great!

[2017-05-26 12:38] amkuchta commented on #114
@brjones3 I have sent you an invite to become a member of the Vulnerator organization - I need user reps to bounce thoughts off of, and you have consistently provided input as of late.  Becoming a member will require you to enable two factor authentication for your account, but it is simple to do.  If you wouldn't mind accepting, that would be awesome!

[2017-05-26 13:14] BradP316 commented on #117
Alex,

Thank you for the response.  I actually figured out the issue.  I was running an older version of the software.  I downloaded the newer version and now it works.  Thanks!

Brad

From: Alex Kuchta [mailto:notifications@github.com]
Sent: Thursday, May 25, 2017 10:48 AM
To: Vulnerator/Vulnerator
Cc: Peterson, David B Jr CIV USN SPAWARSYSCEN LANT SC (US); Mention
Subject: [Non-DoD Source] Re: [

[2017-05-26 13:15] amkuchta commented on #117
@BradP316 glad to help!  (Even though I didn't have to do anything :laughing:)

[2017-05-26 13:15] #117 closed

[2017-05-26 13:30] CyberSecDef commented on #83
Would love to be a member.....unfortunately most of the time I work in GitHub I don't have access to a phone so I can't enable two factor authentication.  :(

-----Original Message-----
From: Alex Kuchta [mailto:notifications@github.com]
Sent: Friday, May 26, 2017 8:36 AM
To: Vulnerator/Vulnerator
Cc: Weber, Robert Jr CTR NSWCDD, B0I; Mention
Subject: [Non-DoD Source] Re: [Vulnerator/Vulnerator] N

[2017-05-26 13:32] jmontanez commented on #83
Alex, You can add me

On Fri, May 26, 2017 at 9:31 AM Robert Weber <notifications@github.com>
wrote:

[2017-05-26 13:33] amkuchta commented on #83
@joemarotta @CyberSecDef @MichaelM00 @rkotlarz if you are already logged in on a system, your login will be retained - it is only future logins that will require 2FA.

[2017-05-26 13:33] amkuchta commented on #83
@jmontanez done!

[2017-05-26 13:47] CyberSecDef commented on #83
Roger that.  I'll turn it on as soon as I have access to my phone (the sign up process still requires it)

-----Original Message-----
From: Alex Kuchta [mailto:notifications@github.com]
Sent: Friday, May 26, 2017 9:33 AM
To: Vulnerator/Vulnerator
Cc: Weber, Robert Jr CTR NSWCDD, B0I; Mention
Subject: [Non-DoD Source] Re: [Vulnerator/Vulnerator] Not Running on Win 7 Hardened Image (#83)

@joemarott

[2017-05-26 18:58] dwanamaker commented on #81
I have the same issue where an ACAS DVL in .csv format fails to parse.  Error log states to "generate a CSV file using the ACAS report template that was packaged with the application," but the only file I see is Vulnerator_v6-1-3_ACAS_CSV_TEMPLATE.xml.

[2017-05-26 19:29] amkuchta commented on #81
@dwanamaker, the file that you referenced is the report template for the ACAS CSV that Vulnerator parses - in order for the parse to be successful:

1. Import the above-mentioned file into your ACAS instance
2. Modify the file to filter on IP Address(es), Host Name(s), Aset(s), etc. - *do not remove any columns*
3. Generate and export the CSV created by the report template, then import that file i

[2017-05-26 19:33] dwanamaker commented on #81
Ah, duh, got it thanks.

[2017-05-26 19:34] amkuchta commented on #81
@dwanamaker not a problem!  I'm going to close this due to lack of response from the originating poster.

[2017-05-26 19:34] #81 closed

[2017-05-30 13:22] CyberSecDef commented on #81
While this is fresh on your mind.....is there a reason we have to use the custom CSV templates?  I believe the actual ACAS scan db has more information available to it and it's basically just an XML file.

-----Original Message-----
From: Alex Kuchta [mailto:notifications@github.com]
Sent: Friday, May 26, 2017 3:35 PM
To: Vulnerator/Vulnerator
Cc: Subscribed
Subject: [Non-DoD Source] Re: [Vulnerat

[2017-05-30 13:26] amkuchta commented on #81
@CyberSecDef I am assuming you are referring to the *.nessus file; is this correct?  If so, I actually encourage the use of raw scan data whenever possible - as you mentioned, it is a far more complete format.  I added the CSV option in for those who may not have access to obtain the raw scan files, but still have the ability to generate reports as a sort of "catch all"

[2017-05-30 13:59] CyberSecDef commented on #81
Ah.  That makes sense :)

-----Original Message-----
From: Alex Kuchta [mailto:notifications@github.com]
Sent: Tuesday, May 30, 2017 9:27 AM
To: Vulnerator/Vulnerator
Cc: Weber, Robert Jr CTR NSWCDD, B0I; Mention
Subject: [Non-DoD Source] Re: [Vulnerator/Vulnerator] .csv failed to parse. need location of error log to analyze. (#81)

@CyberSecDef <https://github.com/cybersecdef>  I am assuming you

[2017-05-31 18:36] rkotlarz opened #118 "Request - Navy Cybersafe security control integration"
# Prerequisites
- [X] I have ensured that I am running the latest release
- [X] The issue is repeatable
- [X] The issue has not already been reported

# Category
- [X] Enhancement

# Description
The Navy has created various documents and standards regarding to the implementation of RMF within the Navy. These documents factor in various environmental conditions that various Navy systems reside in o

[2017-06-02 12:03] amkuchta commented on #116
@Vulnerator/user-reps can I get some weigh-in on this one?  It seems contradictory to #114, and I am not sure which way is the proper way to lean.

[2017-06-02 12:14] olsbergma commented on #116
Alex, my two cents... don't eliminate until all are covered in R4.  I'm for selecting the latest so if R4 available, use it and if not use R3 and annotate in the appropriate field that its R3 and needs research.

[2017-06-02 12:50] CyberSecDef commented on #116
The two issues are definitely opposites of each other.  What about adding a checkbox flag to either include or remove?

Robert F. Weber, Jr.
Senior Cyber Security Solutions Engineer
BS:IT/SW, CASP, CEH, FQNV, MCITP: EA/SA, CIW, JSE6, DBA, A/Net/Sec+
Office 540-653-9831
Mobile 540-538-7764
robert.weber.ctr@navy.mil<mailto:robert.weber.ctr@navy.mil>
weberjr_robert@bah.com<mailto:weberjr_robert@bah.c

[2017-06-02 17:31] brjones3 commented on #116
Suggest changing the title of #114 because I updated the request later on, to NOT fallback to R3.  #114 is for changing the behavior for tests with CCIs.  This one is for changing the behavior for tests that don't have CCIs but have 8500.2 IACs.  Since the 8500.2 IACs all have suggested 800-53 R4 SC mappings on the RMF KS I don't think it makes sense to have an option to include R3 SC mappings als

[2017-06-02 17:36] amkuchta commented on #92
@Vulnerator/user-reps I'm working on rewiring some of the logic that I wrote to accommodate new features, and I need some input:

Currently (version <= 6.1.9), if a CKL file does not have an IP address or Host Name provided, the application does nothing to verify file integrity - it simply marks the data as "Host Name / IP Address not provided" and moves on.

Looking forward, incorporating new fea

[2017-06-02 18:05] vanerj1996 commented on #92
My team does this **all the time** to me. When doing a so-called "manual scan" they forget to include IP, host, and MAC address. And other fun variations, like right host-name, and wrong-IP.

I don't figure it out until after running Vulnerator, and seeing strange things on the system summary. A machine will show up twice, a machine will have FAR more findings than its siblings, etc.

On the one h

[2017-06-02 18:10] brjones3 commented on #92
I agree with vanerj1996.  Sometimes I fix the RAR for missing hostnames, if that's easier.  I would rather not have Vulnerator drop .ckl files, unless there is an option to keep current behavior.

[2017-06-02 18:15] amkuchta commented on #92
@vanerj1996 @brjones3 I think that's where having the identifiers shown above comes into play - you can quickly hop into the file, make a change, save it, then "Vulnerate", all without making any changes in Vulnerator prior to clicking the "Execute Ingestion" button (you don't even need to delete the file from the list, as all that is included in the list is a reference to the file path.  Any chan

[2017-06-02 18:19] amkuchta commented on #92
@Vulnerator/user-reps another option - instead of dropping the files, read the host name / MAC / IP(s) to text fields that are then editable in-app.  The user can then manually verify the information, adjust on the fly, and execute when ready - the application would pass the fields as variables and make magic happen on the back end.

[2017-06-02 19:28] CyberSecDef commented on #92
The problem with this is if the resulting POAM/RAR doesn't match the source files (ckls, nesses, etc)...then ech II might kick back the package because of that mismatch.

-----Original Message-----
From: Alex Kuchta [mailto:notifications@github.com]
Sent: Friday, June 02, 2017 2:20 PM
To: Vulnerator/Vulnerator
Cc: Subscribed
Subject: [Non-DoD Source] Re: [Vulnerator/Vulnerator] Update View & Refac

[2017-06-02 19:33] CyberSecDef commented on #92
I definitely wouldn't just drop the file.  And failing to parse could be a nuisance.  I think showing it but flagging it as bad would probably work out better.

-----Original Message-----
From: Alex Kuchta [mailto:notifications@github.com]
Sent: Friday, June 02, 2017 1:36 PM
To: Vulnerator/Vulnerator
Cc: Subscribed
Subject: [Non-DoD Source] Re: [Vulnerator/Vulnerator] Update View & Refactor in Pre

[2017-06-02 19:40] amkuchta commented on #92
@CyberSecDef wouldn't you have to go back in and update the raw file after updating the POA&M anyway? Otherwise, you'd update the reports to have the correct info and still have that mismatch.

Also, because I'm ingesting and storing data for Vulnerability Tracking, I'm building in the ability to generate CKL files within Vulnerator. Users will be able to export the corrected data, eliminating mis

[2017-06-02 19:43] CyberSecDef commented on #92
I meant that if the POAM/RAR is updated (after the fact or within Vulnerator) to show say host1234 and the ckl says hostname.....that mismatch would cause problems with ech II.  If vulnerator can re-generate the CKLs after the fact, that would solve the problem perfectly.

I really like the idea of handling the package from start to finish.  I can't wait to try that out.

-----Original Message----

[2017-06-03 01:01] 46-Michael commented on #92
@amkuchta , from the viewpoint of the 46th cyber security test squadron, having Vulnerator fail/drop CKLs due to missing hostname/IP addresses/identifiers would be particularly problematic (Worst case, someone may not notice a single checklist failing in larger boundaries). Keep in mind, our use case is slightly different than most. We simply use Vulnerator to generator POA&Ms for a couple hundred

[2017-06-05 11:55] amkuchta commented on #92
@vanerj1996 @CyberSecDef @46-Michael @brjones3  adding in a toggle to allow users to decide whether or not to use the "drop" feature is definitely doable.  I could also have the application push the data provided in the above mentioned text fields (see screen grab) back to the raw CKL - this would eliminate mismatches.

[2017-06-06 15:39] caday00 commented on #116
I don't suggest removing R3 as some of the IC community Xactas are still using R3 control template requiring analyst to perform additional tasks to revert R4 mappings back to R3 controls in order to support Xacata uploads.

[2017-06-07 13:23] CyberSecDef opened #119 "Recursive Scans for Importing"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [X] I have ensured that I am running the latest release
- [ ] The issue is repeatable
- [ ] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [ ] Bug
- [X] Enhanc

[2017-06-07 17:38] brjones3 commented on #116
It might make sense to merge #114 with this one.  Here is draft pseudo-code to address both issues.  It's probably still Navy-centric, so hack away:

[code]

[2017-06-12 16:58] JnB1957 opened #120 "Source Identifying Control Vulnerability"
Prerequisites
- [ X] I have ensured that I am running the latest release
- [ ] The issue is repeatable
- [X ] The issue has not already been reported

Category
- [ ] Bug
- [ ] Enhancement
- [ X] Assistance Request

Description
Upon processing multiple .nessus files and reviewing the vulnerated POA&M, an issue surrounding the Source Identifying Control Vulnerability field of the POA&M was discovere

[2017-06-15 17:24] kshenneman opened #121 "Group Name Column Not Populated on ACAS Output & Review Tab"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [X ] I have ensured that I am running the latest release
- [X ] The issue is repeatable
- [X ] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [X ] Bug
- [ ] En

[2017-06-20 12:19] Onloadtech opened #122 "BUG in MainWindowViewModel.cs"
the case below seems to have some mismatched dictionary settings. I found this while looking through the code.  Not sure if this is the desired logic.

[code]

[2017-07-03 17:57] wbeckham commented on #112
I'm having the same problem, and am running it on an unstigged machine with full admin privileges.  The same files parse just fine of 6.1 beta, but crash .7 and .8.

[2017-07-03 22:25] Peter-I commented on #112
Developer could not reproduce my issue so still broken. Just before you run Vulnerator, pull out your network cable and see if it parses. Something in Vulnerator or in an update to DOTNET causes the application to contact "cpe.mitre.org" and causes it to fail. At least that's what my testing seem to imply. Can you respond if that works for you?

[2017-07-05 16:02] wbeckham commented on #112
Peter-I, I followed your recommendation and still the XCCDF files still failed.  Alex - concerning stigged vs. unstigged machines, is it possible that you have a developer's account?  I'm a normal locked down user account, so could be making a difference?

[2017-07-06 13:44] amkuchta commented on #122
@Onloadtech thanks!  I'm actually completely rewriting `MainWindowViewModel` for v6.2.0, as I am separating the ViewModel functionality along with the various views and getting rid of the hacked otgether config file in favor of using built-in settings (wayyyyy easier to use).  This one is all but done, but thanks for taking the time to review the code!

As a side note, would you be interested in b

[2017-07-06 13:49] amkuchta commented on #120
@JnB1957 thanks for the report!  I am going to classify this as both a "bug" and a "change request"... The issue is that if plugin 19506 (which is where the scanner information is pulled from) comes after other plugins, v6.1.9 did not go back and "clean up" previous records.  I am working on correcting this behavior as we speak.

Thanks again!

[2017-07-06 13:51] amkuchta commented on #119
@CyberSecDef I love the idea, but I am going to place this one on the back-burner until v6.2.1.  I want to also re-implement drag-and-drop functionality into the application then, so this would be a perfect companion feature.

[2017-07-06 13:53] amkuchta commented on #118
@rkotlarz I actually already have this on the docket for v6.2.0, so you should see it in the next release!

[2017-07-18 17:50] lundquisteb opened #123 "Risk Assessment Report does not contain all CCIs from STIGs/SRGs"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [x] I have ensured that I am running the latest release
- [x] The issue is repeatable
- [x] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [x] Bug
- [ ] Enhanc

[2017-07-20 17:18] amkuchta commented on #123
@lundquisteb thanks for the bug report!  Part of v6.2.0 is a completely redesigned database, which allows me to make the data more accurate and pivotable.  I have addressed this concern already, it will just need to be put through some final tests before I push the first alpha release out - hang tight!

[2017-07-20 17:20] #122 closed

[2017-07-20 18:44] Onloadtech commented on #122
Im sorry I've been pretty busy I would absolutely be interested in
assisting the organization. Ill setup two factor when I can.

On Jul 6, 2017 9:44 AM, "Alex Kuchta" <notifications@github.com> wrote:

@Onloadtech <https://github.com/onloadtech> thanks! I'm actually completely
rewriting MainWindowViewModel for v6.2.0, as I am separating the ViewModel
functionality along with the various views and

[2017-07-25 11:57] amkuchta commented on #91
@SPAWAR-NG a quick update on this - I actually have a meeting with HPE on Thursday to discuss how I integrate Fortify files into Vulnerator, and one of the items on the agenda is integrating WebInspect, as well.  HPE seems interested in lending a hand, which may mean some custom "Vulnerator" report exports from the two tools.  I'll keep you posted!

[2017-08-07 14:49] akajeremy commented on #115
I'm experiencing the same problem - additionally, when I try and use vulnerator to parse a .nessus file, it only outputs one plugin (id: 66756) repeated 263 times.

Log results for XCCDF error:
"2017-08-07 10:43:04,458        INFO                                                     0                    Refreshing findings database.
2017-08-07 10:43:04,620        INFO

[2017-08-07 14:57] CyberSecDef commented on #115
Just adding my two cents here.  It would seem odd to me that the log says it's unable to parse ACAS XCCDF.  ACAS shouldn't have XCCDF.  XCCDF should be only linked to SCAP scans....possibly CKLs.

-----Original Message-----
From: Jeremy [mailto:notifications@github.com]
Sent: Monday, August 07, 2017 10:49 AM
To: Vulnerator/Vulnerator
Cc: Subscribed
Subject: [Non-DoD Source] Re: [Vulnerator/Vulnera

[2017-08-07 15:20] akajeremy commented on #115
Thanks for the input! Unless i'm misunderstanding, ACAS can also produce scap scans and output the findings as xccdf.xml just like the scc would.  Anyway, my main problem is Vulnerator only giving me one plugin when using a .nessus file used to populate the "ACAS Output and Review" tab. I should probably start a new thread ..

[2017-08-07 19:22] akajeremy opened #124 ".nessus file output not working"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [x ] I have ensured that I am running the latest release
- [x ] The issue is repeatable
- [x] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [ ] Bug
- [ ] Enha

[2017-08-09 13:41] amkuchta commented on #124
@akajeremy I haven't properly written the application to import *.nessus scan files for compliance checks - try exporting the compliance output as a SCAP output, then ingest that into the application.

I will leave this open for now, as it may be something I consider incorporating into a later release.  However, I am also considering dropping ACAS SCAP support, as the output is not very verbose.

[2017-08-09 13:44] amkuchta commented on #109
@CyberSecDef @ibjohn I can definitely look into creating some coloring options... The question is, how do we want coloring done?

- Status?
- Finding Type?
- Mitigation populated?
- ???

@Vulnerator/user-reps please feel free to weigh in!

[2017-08-09 13:59] CyberSecDef commented on #109
I normally use like a yellow/orange on blank comments (normally just for remediations, mitigations and comments columns).

I would think the Status column should never be blank.....but that’s an important one so maybe make that red?

-----Original Message-----
From: Alex Kuchta [mailto:notifications@github.com]
Sent: Wednesday, August 09, 2017 9:45 AM
To: Vulnerator/Vulnerator
Cc: Weber, Robert Jr

[2017-08-09 14:00] CyberSecDef commented on #124
I know that at NSWC DD (Dahlgren) we basically never use ACAS for SCAP.  We only use SCC for SCAP.  That’s almost by direction from command (they wont officially say that but they also wont accept a package for review without SCC generated SCAP files).

-----Original Message-----
From: Alex Kuchta [mailto:notifications@github.com]
Sent: Wednesday, August 09, 2017 9:41 AM
To: Vulnerator/Vulnerator

[2017-08-09 14:02] amkuchta commented on #109
@CyberSecDef I need to learn to be clearer in my conveyance of thoughts... I was thinking of highlighting Status based on the text (e.g. green for "Completed", grey for "Not Applicable", etc.).  "Finding Type" would be handled in a similar fashion (i.e. "ACAS" is green, "CKL" is blue, etc.)

[2017-08-09 14:11] CyberSecDef commented on #109
Gotcha. That makes sense.  Doing it that way also lets you 'filter' within Excel based on color.  I like it.

-----Original Message-----
From: Alex Kuchta [mailto:notifications@github.com]
Sent: Wednesday, August 09, 2017 10:03 AM
To: Vulnerator/Vulnerator
Cc: Weber, Robert Jr CTR NSWCDD, B0I; Mention
Subject: [Non-DoD Source] Re: [Vulnerator/Vulnerator] Most SCAs reject NA and not a finding w/o c

[2017-08-09 15:21] vanerj1996 commented on #124
@CyberSecDef

Same here. Nobody wants to see SCAP results from ACAS or HBSS...   only from SCC.

[2017-08-09 15:24] vanerj1996 commented on #124
@amkuchta

Huh? I've been importing *.nessus files for a while. Is there something I'm losing or isn't correct?

[2017-08-09 16:25] akajeremy commented on #124
Thanks for everyone's input! Yeah, this ACAS SCAP business is new to me too, but they've just starting requesting it in addition to the SCC results.. so now I'm in an interesting predicament.

@amkuchta I'll try your suggestion! Thank you for taking the time to respond.

[2017-08-09 17:00] brjones3 commented on #124
I have heard the Navy SCA will not accept SCAP scan results from ACAS for RMF testing.  Also some of the SCAP benchmarks on the IASE site state they are only supported with SCC, e.g. MS Office products.

The Navy Testing Guidance says, "The NQV must import XCCDF results of an SCC scan into the STIG Viewer for integration with the complete STIG."  So I don't think there's a lot of value in importin

[2017-08-09 18:17] CyberSecDef commented on #124
I think the applicable word in Alex's comment was 'compliance'....as in XCCDF/SCAP compliance.

-----Original Message-----
From: Jeff Vanerwegen [mailto:notifications@github.com]
Sent: Wednesday, August 09, 2017 11:24 AM
To: Vulnerator/Vulnerator
Cc: Weber, Robert Jr CTR NSWCDD, B0I; Mention
Subject: [Non-DoD Source] Re: [Vulnerator/Vulnerator] Parsing ACAS SCAP Scans Generated as *.nessus Files (

[2017-08-09 18:58] amkuchta commented on #124
@brjones3 The upside to ingesting the SCAP files into Vulnerator directly is that Vulnerator allows you to do a discrepancies comparison between what SCC says ("Ongoing", "Completed") vs. what the SA / person completing the manual STIG says ("Ongoing", "Completed").  DISA STIG Viewer simply overwrites whatever the analyst put in the manual check, which doesn't give a lot of insight into mitigation

[2017-08-09 19:32] amkuchta opened #125 "[Poll] Vulnerator Report Breakouts & Organization Membership"
This is a two part poll - please feel free to respond to either or both items, as you see fit.

### Vulnerator Reporting
Currently, Vulnerator consolidates all Excel reports into a single workbook.  Given the following options, which is most palatable to you:

1. Continue putting all reports into a single workbook
2. Break the reports into separate books, but allow me to choose the file names for

[2017-08-09 20:20] brjones3 commented on #125
#1 is my preference.  I would rather only have one file per vulnerator run, and it's easy to extract the tabs if needed.

[2017-08-09 20:25] CyberSecDef commented on #125
I'm all for #1.  If I need to break it apart, I can.

As for question two.....I can't enable two factor authentication from my NMCI seat.  I wish I could, I just can't from this location.

-----Original Message-----
From: Alex Kuchta [mailto:notifications@github.com]
Sent: Wednesday, August 09, 2017 3:33 PM
To: Vulnerator/Vulnerator
Cc: Subscribed
Subject: [Non-DoD Source] [Vulnerator/Vulnerator]

[2017-08-10 12:34] amkuchta commented on #124
@vanerj1996 I completely looked over your comment - sorry!  As @CyberSecDef stated, the operative word is "compliance"; while *.nessus files parse fine, if the *.nessus is an export of ran SCAP content, it is going to parse like a *.nessus, not a SCAP file, which means that data is not going to be where users may expect it to be.

[2017-08-10 13:26] amkuchta opened #126 "Vulnerator Command Line / Script Integration"
# Prerequisites
- [x] I have ensured that I am running the latest release
- [x] The issue is repeatable
- [x] The issue has not already been reported

# Category
- [ ] Bug
- [x] Enhancement
- [ ] Assistance Request

# Description
## Synopsis
_Currently, users must utilize the GUI in order to "Vulnerate" a set of files.  Built in command-line support for certain items (ingestion, reporting), especi

[2017-08-10 13:50] CyberSecDef commented on #125
Can you request more 'static' numbers if you use them all?

-----Original Message-----
From: Alex Kuchta [mailto:notifications@github.com]
Sent: Wednesday, August 09, 2017 9:47 PM
To: Vulnerator/Vulnerator
Cc: Weber, Robert Jr CTR NSWCDD, B0I; Mention
Subject: [Non-DoD Source] Re: [Vulnerator/Vulnerator] [Poll] Vulnerator Report Breakouts & Organization Membership (#125)

@CyberSecDef <https://git

[2017-08-10 14:49] amkuchta commented on #125
@CyberSecDef There is an option to generate new "recovery codes", as they are officially called; screenshot provided for posterity (and redacted for obvious reasons):

![recoverycodescreenshot](https://user-images.githubusercontent.com/6255186/29176317-7d117590-7db9-11e7-9a34-597d99541a26.jpg)

[2017-08-10 16:10] CyberSecDef commented on #125
Ok...as soon as I can be on github with my phone I'll change over.  Will give it a shot.

-----Original Message-----
From: Alex Kuchta [mailto:notifications@github.com]
Sent: Thursday, August 10, 2017 10:49 AM
To: Vulnerator/Vulnerator
Cc: Weber, Robert Jr CTR NSWCDD, B0I; Mention
Subject: [Non-DoD Source] Re: [Vulnerator/Vulnerator] [Poll] Vulnerator Report Breakouts & Organization Membership (#1

[2017-08-10 16:16] akajeremy commented on #124
@amkuchta Now I'm confused! haha. Vulnerator does work with .nessus files? Because when I try to vulnerate my .nessus file of a ACAS-SCAP scan, it only gives me one finding repeated ~260 times. Does this make sense? The screen shot I added above should provide some clarity as to what the vulnerated .nessus file looks like.  I'm guessing the client wants this type of scan done in order to cross-che

[2017-08-10 16:38] amkuchta commented on #124
@akajeremy *.nessus files can be generated for two types of scans within ACAS:

1. **Vulnerability Scans:** These are the scans that contain *non-compliance* plugins and provide feedback as to a system's patch currency (e.g. if there are any outstanding IAVMs, missing OS or application level patches, etc.)
2. **Compliance Scans:** These scans enumerate the results of a scan conducted using a XCCDF

[2017-08-10 18:18] akajeremy commented on #124
@amkuchta Thanks for the detailed response! When I try to vulnerate the SCAP output (xccdf file) generated by the ACAS-SCAP compliance scan, vulnerator fails. I'm not able to provide you the files, so perhaps this is as far as we can go with this, but I appreciate your help! Using ACAS to run SCAP scans is new to me/my team, so perhaps it's just something on our end. Thanks again -

[2017-08-10 19:00] vanerj1996 commented on #125
#1, it's easy to remove sheets from excel I don't need

[2017-08-13 16:09] testiando commented on #45
I agree with being able to add a STIG viewer functionality into Vulnerator. This will help IA personnel while going thru a system self validation process and also will help validators/certifiers. I see a lot of IA/Cyber-security individuals being confused on how to use the STIG viewer.

My advise is that whatever tool is used in conjunction with Vulnerator allows any item selected as "**OPEN**" ca

[2017-08-16 21:06] Prymal commented on #124
There is a 3rd way to run STIGS scan with acas though...and that is using the Nessus Audit files. We have been doing that here and started to test Vulnerator for PO&AM generation but importing the .nessus files with Audit base compliance checks does not produce any compliance results in the output. Any idea why that may be?

[2017-08-24 04:42] da7rutrak commented on #123
@amkuchta is the work you're doing on v6.2.0 address the issue described here and in #110?

[2017-09-01 18:43] jlong24 opened #127 "Vulnerator failed to import/process .nessus file with no error logs."
![logs](https://user-images.githubusercontent.com/31549237/29983432-060a7120-8f13-11e7-9b95-251661639a82.jpg)
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [ ] I have ensured that I am running the latest release (Company requires the use of an older version 6.0.5813.

[2017-09-05 13:07] amkuchta commented on #127
@jlong24  I apologize for the late response - I have been out on vacation for the past week.  With regards to the version that you are using, there is an issue with parsing larger files.  Prior to v6.1.x, all processing was handled in memory, which can cause a `System.OutOfMemoryException` to be thrown.  The fix would be to either reduce the size of the files being parsed or to update to a later v

[2017-09-08 18:14] JimByrne opened #128 "XCCDF in + Excel out = ID numbers incorrect/missing"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [x] I have ensured that I am running the latest release
- [x] The issue is repeatable
- [x] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [x] Bug
- [ ] Enhanc

[2017-09-15 19:34] ibjohn commented on #109
This is on hold.  What information are you waiting on?  I think your status color indicator is good.

[2017-09-15 19:57] ibjohn opened #129 "RAR/POAM Report shows "?" for the revision number"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [x ] I have ensured that I am running the latest release
- [ x] The issue is repeatable
- [x ] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [x ] Bug
- [ ] En

[2017-09-15 21:36] ibjohn opened #130 "Minor output issues"
# Prerequisites

- [x] I have ensured that I am running the latest release
- [x] The issue is repeatable
- [x] The issue has not already been reported

# Category

- [x] Bug
- [ ] Enhancement
- [ ] Assistance Request

# Description
1. Inconsistent CCI number format in RAR tab
2. STIGs checklists that end with "STIG" show up in the Source of Discovery column as STIG STIG.

## Synopsis
1. Some CCI n

[2017-09-15 21:49] ibjohn commented on #45
What do you think of adding Vulnerator functionality to make it a STIG management tool instead of just a reporting tool?

[2017-09-15 21:56] rkotlarz commented on #45
Can you provide what characteristics / features you would define as a "STIG management tool"?

[2017-09-15 22:17] ibjohn commented on #45
Off the top of my head:
-Runs as a service
-Monitors directory of .ckl files
-Keeps date of discovery for each open finding
-Emails alerts for new findings or old findings based on roles per STIG: ie: SA, NA - with all going to the ISSO/Management (recommend set up in user config per STIG so you don't get hammered with different user "preferences")
-Sends reminders to check for new .ckl files
-Add

[2017-09-15 22:44] amkuchta commented on #45
@rkotlarz @ibjohn spoiler alert - I'm already building all of this into the next release! the mindset I have is that we need to stop managing artifacts and start managing data. I've incorporated the ability to ingest the quarterly STIG releases, parsing all of the data into the back end. I'm working on CKL generation now. I've also got "Delta Analysis" built in for new releases, which will only up

[2017-09-21 16:30] jlong24 commented on #127
I also apologize for the late reply.  We only had access to the old Vulnerator due to the fact that they couldn't get it working on standard accounts, which is why they didn't release the latest version out.  Works fine as an administrator, also the latest version was able to process our huge file.  Appreciate the help!

[2017-09-21 16:30] #127 closed

[2017-09-22 12:15] JimByrne opened #131 "Missing NIST Control and CCI"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [x] I have ensured that I am running the latest release
- [x] The issue is repeatable
- [x] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [x] Bug
- [ ] Enhanc

[2017-09-25 13:42] amkuchta commented on #125
@CyberSecDef any joy on getting 2FA up and running?

[2017-09-25 13:47] amkuchta commented on #131
Closing, as this is a duplicate of #110 and #123.

[2017-09-25 13:47] #131 closed

[2017-09-25 13:50] amkuchta commented on #130
@ibjohn thanks for the report!  Both of these are being corrected in v6.2.0 (I have spent a lot of time handling out data is placed into the database to ensure proper pivotability [which is a word I just made up, according to spellcheck], data integrity, and presentation consistency.  Hang tight!

[2017-09-25 13:57] amkuchta commented on #129
Handled in v6.2.0 - I'm testing for data integrity now.

[2017-09-26 12:34] Gerosolina commented on #72
I would be interesting in seeing the spreadsheet that was created that maps plugins to RMF controls. Can you send me a copy?

[2017-09-26 17:26] Thanakar opened #132 "I could not run 6.1.9 on an x64 Windows OS"
What versions of windows are supported by 6.1.9?

[2017-09-26 18:01] ibjohn commented on #72
All plugins related to patches should be associated to SI-2

[2017-09-26 18:46] amkuchta commented on #132
@Thanakar I am able to successfully launch the application on a Windows 10 asset - is the system hardened?  Did you extract the entire folder from within the ZIP download?

[2017-09-26 18:58] Thanakar commented on #132
@amkuchta The system is hardened and the zip has 3 files in it, the exe, a template and another file.

[2017-09-27 11:43] amkuchta commented on #132
@Thanakar Those three files should have been contained within a folder in the *.zip archive - in order for the application to run correctly, the entire folder must be extracted and the *.exe run from within that folder, as there are hidden files that sit alongside the executable that are required for it to launch properly - is this how you attempted to launch the program?

[2017-09-27 11:48] Gerosolina commented on #72
Thank you @ibjohn I am trying to figure out how I can trace the other plugin ID numbers to there proper RMF control. My Information Assurance Manager did not like that I trying to group all ACAS finding into CM-6 and SI-2.

[2017-09-27 12:00] amkuchta commented on #72
@ibjohn It's funny that you mention these - our SCA and AO gave us explicit guidance to map everything patch-related to CM-6. @Gerosolina I'm kind of with your ISSM - it seems like a "lazy" way out (though I get why it's important right now since there is no way to map everything yet... I'm actually working on this portion of v6.2.0 today!)

[2017-09-27 12:06] Gerosolina commented on #72
@amkuchta can you share your methodology on how you are mapping ACAS plugin IDs to RMF controls. I can not seem to find a way to trace from ACAS plugin IDs to RMF controls.

[2017-09-27 12:08] Thanakar commented on #132
I will have to check, I do not have admin privileges on the system.

[2017-09-27 12:19] amkuchta commented on #72
@Gerosolina unfortunately, it is not going to be an automated functionality - users will still have to manually map the ACAS plugin ID back to applicable control(s) by hand.  v6.2.0 is just going t otrack these mappings, preventing users from having to re-enter them every time a vulnerability-based artifact is created.  I've attached a screenshot to show the interface that will be used:

![nistmap

[2017-09-27 12:27] Gerosolina commented on #72
@amkuchta I think I am missing something. I see the definitions for the RMF controls. But how are you tracing an ACAS plugin ID number to a specific RMF control? Are you just reading ACAS plugin ID and interpreting the best control it fails under or is there a way to trace it somehow?

[2017-09-27 13:19] amkuchta commented on #72
@Gerosolina the "tracing" portion is still manual.  I have yet to find a way to (reliably) automatically associate the ACAS finding back to a NIST control.  Users will have the ability to manually type in ACAS plugin IDs into this above list, then select the NIST controls that apply to that plugin to create a new database of *their* mappings, which will then be reused throughout all of *their* pac

[2017-09-27 13:23] Gerosolina commented on #72
Cool thanks for the info

[2017-09-27 17:21] ibjohn commented on #72
Just rhinking out loud.... Can you take the xccdf files from the benchmarks
to scan a test un-STIG'd system and get the matching CCI's from the STIGs?
Maybe the xccdf already has CCI's and will be in the detailed report.

On Sep 27, 2017 04:49, "Gerosolina" <notifications@github.com> wrote:

Thank you @ibjohn <https://github.com/ibjohn> I am trying to figure out how
I can trace the other plugin ID

[2017-09-27 18:43] Gerosolina commented on #72
@ibjohn Tracing to SCAP data from .xccdf files is not the problem. I can trace SCAP scans to RMF controls. But ACAS (nessus) scans only show plugin ID numbers and what vulnerabilities a system has. There is no way to trace a plugin ID number to an RMF control.

[2017-09-27 19:46] CyberSecDef commented on #72
The problem with that is the benchmarks/scap vulnerabilities don't link at all to ACAS, so there is still no way to map plugin id's to security controls.  That being said, it is perfectly normal for a certain type of finding to be mapped to just one or two security controls.  I would try to explain that to your IAM.  MOST of the plugins in ACAS logically would only related to a very small handful

[2017-09-27 22:13] ibjohn commented on #72
Duh, the are no plugin It's for those....  The main categories are patches
SI-2, generic configs such as as SSL strength CM-6 and obsolete software
SA-22.

As a long time ISSM, I'd never make someone go though all of that,  just
for the sake of paperwork. The important thing is to find it and fix it.

On Sep 27, 2017 11:43, "Gerosolina" <notifications@github.com> wrote:

@ibjohn <https://github.co

[2017-09-28 02:36] rkotlarz commented on #72
Unless the government directs NIST or DISA to allocate funds to perform the mapping that's needed this isn't likely to happen anytime soon. Here's the plugins breakdown:

**DoD Security Configurations**
It's highly unlikely that DISA is going to update their legacy STIGs and SRGs but these are still heavily used. Additionally the NIST 800-53 Rev 5 includes two additional security control families,

[2017-09-28 03:01] rkotlarz commented on #72
While the catch all from a generic standpoint could be SI-2 (FLAW REMEDIATION) or CM-6 (CONFIGURATION SETTINGS), I believe they actually extend beyond this. Take for instance the use of commercial product that someone has been limping along as they've deemed it "critical and unable to be replace at this time" which is still using SSL. This would fall under SI-2 and possibly CM-6 (if the product su

[2017-09-28 12:25] amkuchta commented on #72
@rkotlarz @CyberSecDef @ibjohn @Gerosolina To address some of the above points:

-  Vulnerator now pulls *every* cross reference that ACAS has for a plugin, be it a CVE, CPE, BID, IAVM, etc.  Vulnerator also labels each cross reference using one of the above labels.  All of this is designed to help end-users make as informed of a decision about their vulnerabilities as possible, whether that be in

[2017-09-28 12:45] Gerosolina commented on #72
@amkuchta did you every address the issue of when you import SCAP data it does not show the items that were not reviewed by the automated scan. The items from the STIG checklist that the SCAP tool was not able to answer.  I need this data so I can go back and manual review checks that the SCAP scan missed.

[2017-09-28 12:58] amkuchta commented on #72
@Gerosolina It's still in development, but some of the major steps have been implemented:

- [x] Import the STIG Compilation Library or STIG that you need a checklist created for
- [ ] Generate CKL data within the app for the asset(s) in question
- [x] Import the corresponding SCAP data for said asset(s)
- [ ] Address the remaining controls
  - Can be done manually or via the use of "stored" mitig

[2017-09-28 13:45] CyberSecDef commented on #72
I don’t think SCAP was designed for what you are looking for.

A STIG (CKL) has hundreds of requirements that are manually checked.  For this case study, let's assume ACME STIG has 200 requirements.
Some of these requirements cannot be automated, like for instance "Is there a fire extinguisher near the system".
A SCAP (XCCDF) is a subset of controls from a STIG that can be automatically scanned fo

[2017-09-28 13:51] amkuchta commented on #72
@CyberSecDef I've addressed the issue of the SCAP not having all of the checks by allowing for the import of the full STIG library.  As long as the library is imported into Vulnerator prior to the SCAP results being ingested, a complete CKL will be able to be generated taking into account the automated checks.

My goal is to eliminate the need for STIG Viewer altogether and to push CKL creation un

[2017-09-28 13:53] CyberSecDef commented on #72
I can't wait to try this release out.

-----Original Message-----
From: Alex Kuchta [mailto:notifications@github.com]
Sent: Thursday, September 28, 2017 9:52 AM
To: Vulnerator/Vulnerator
Cc: Weber, Robert Jr CTR NSWCDD, B0I; Mention
Subject: [Non-DoD Source] Re: [Vulnerator/Vulnerator] ACAS - NIST 800-53 control mapping (#72)

@CyberSecDef <https://github.com/cybersecdef>  I've addressed the issue

[2017-09-28 13:58] Gerosolina commented on #72
@CyberSecDef I was hoping for a one stop shop so I would not have to use STIG view and vulnerator. Currently I have to load all SCAP results into STIG viewer then save a .CKL file and then import it into vulnerator so that I can see in the POAM the Not reviewed items.

[2017-10-02 18:57] amkuchta commented on #132
@Thanakar can you send a screenshot of the error(s) to alex.kuchta@navy.mil?  (preferably encrypted)

[2017-10-02 18:59] Thanakar commented on #132
@amkuchta That won't be possible unless you have a SIPR account...

[2017-10-02 19:04] amkuchta commented on #132
@Thanakar I have one... but chances are, it's been deleted due to inactivity.

From the sound of it, it is definitely .NET related... I'm just not sure what exactly the issue with .NET is...

[2017-10-02 19:11] Thanakar commented on #132
@amkuchta what can I look at, in the event viewer, to help with that?

[2017-10-02 19:25] amkuchta commented on #132
@Thanakar actually, if you could start by looking at the desktop, is there a text file that has been created called something along the lines of "Vulnerator_v6_StartupErrorLog"?

[2017-10-02 19:30] Thanakar commented on #132
@amkuchta next time I'm in the sipr lab i'll take a look. will it be on the desktop or in the roaming directory under Vulnerator?

[2017-10-02 19:33] amkuchta commented on #132
@Thanakar I would check the Desktop first, since the issue is occurring before the application launches (I did that by design).

If you don't see anything there, check your roaming folder for the usual Vulnerator log, just to see if there are any issues being spit out.

If neither of those turns up fruitful, I will send you a debug version of the application so that we can get some better insight.

[2017-10-10 15:25] JimByrne opened #133 "Vulnerator Added CCI numbers that are NOT supposed to be there"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [x] I have ensured that I am running the latest release
- [x] The issue is repeatable
- [x] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [x] Bug
- [ ] Enhanc

[2017-10-11 14:58] amkuchta commented on #133
@JimByrne this is *roughly* associated with #123 - long story short, my CCI mapping with regards to vulnerabilities left a lot to be desired in past versions.  v6.2.0 will better "decouple" the data, which makes it easier for me to pull the correct information as needed.  Hang tight, and thanks for the issue report (and for using the application)!

[2017-10-11 22:55] jlacadd commented on #129
Out of curiosity, what was the root cause of this issue?  I am dealing with similar problem and discovered it was because we were either using .ckl files created with the 1.x version of STIG Viewer (which is much to be preferred) or importing those into 2.x and then saving them.  When either of these conditions occurs, the resulting .ckl is missing the information that is apparently being used by

[2017-10-11 23:04] jlacadd opened #134 "More theme options to enhance readability"
# Prerequisites

- [x ] I have ensured that I am running the latest release
- [x] The issue is repeatable
- [x] The issue has not already been reported

# Category

- [ ] Bug
- [x] Enhancement
- [ ] Assistance Request

# Description

## Synopsis
Love the theme option, as I prefer darker backgrounds.  However the "black" or "white" options are a bit limiting.  I find the black background with any a

[2017-10-11 23:13] jlacadd opened #135 "Need format of mitigations.txt import file"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [x] I have ensured that I am running the latest release
- [x] The issue is repeatable
- [x] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [ ] Bug
- [ ] Enhanc

[2017-10-12 04:22] jlacadd opened #136 "Browser for opening mitigation db file defaults to SDF files only"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [x] I have ensured that I am running the latest release
- [x] The issue is repeatable
- [x] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [x] Bug
- [ ] Enhanc

[2017-10-12 04:32] jlacadd opened #137 "Create new mitigation database functionality appears broken"
# Prerequisites

- [x] I have ensured that I am running the latest release
- [x] The issue is repeatable
- [x] The issue has not already been reported

# Category

- [x] Bug
- [ ] Enhancement
- [ ] Assistance Request

# Description

## Synopsis
Creating a new database by clicking on the "Create New" button results in a file picker window (filtering to SDF files) and typing any name in the file nam

[2017-10-12 12:55] amkuchta commented on #134
I'm temporarily throwing this one on hold for a few reasons:

* My backlog is already 35486045640 items long for v6.2.0
* I use pre-defined theme settings from a control library, so I will have to define a custom one to meet this requirement.  Not a huge deal, but time-consuming

I will work to get it incorporated, though!  Thanks for the suggestion, @jlacadd

[2017-10-12 12:56] amkuchta commented on #135
Unfortunately, I cannot find a copy of the old `Mitigations.txt` file from prior to v5 - @vanerj1996, is there any chance that you still have one on hand (sanitized, because "duh") that you can attach to this issue?

[2017-10-12 13:00] amkuchta commented on #136
This one has already been addressed in v6.2.0 (I didn't know it existed, but I made some changes that just happen to fix it) - thank you, and hang tight!

[2017-10-12 13:01] amkuchta commented on #137
v6.2.0 now uses a single database for everything, and corrects the "creation" behavior to what it is supposed to do.  thank you!

[2017-10-12 15:04] vanerj1996 commented on #135
Yeah I found one...   let's see if I can add it to the "issue", or something...

[2017-10-12 15:10] vanerj1996 commented on #135
************************************************************************************
*This is an example mitigation file
*
*'#' indicates a new entry, and '|' separates the finding id from the reason
*entries may span multiple lines
*multiple id's may be entered per reason (see V0017759 below)
*finding id's for retina findings are the RTH numbers
*
*************************************************

[2017-10-12 16:09] amkuchta commented on #135
Thanks, @vanerj1996!

[2017-10-16 14:15] #135 closed

[2017-10-17 17:09] amkuchta commented on #134
@jlacadd I decided I wanted to try this :laughing:

First swags are below - let me know what you think needs to be tweaked (I'm sure I am a little off still)

### "PowerShell Dark"
__*w/ "Cyan" Accent*__
![powershelldark](https://user-images.githubusercontent.com/6255186/31678423-2823c89a-b33c-11e7-803e-86fcf96a17b0.jpg)

### "Matrix"
__*w/ "Lime" Accent*__
![matrix](https://user-images.githubuser

[2017-10-17 22:13] jlacadd commented on #134
Ah...very nice.  Much improved!  It'll be interesting to see what it looks like with a bunch of data being displayed.

[2017-10-18 12:09] amkuchta commented on #134
@jlacadd glad to hear you approve so far.  I'm thinking that I need to darken the background in `PowerShellDark`, and what do you think of the font color?  Should I keep it the light blue, or move over the the ... salmon?... color that was in your screenshot.

@Vulnerator/user-reps, feel free to weigh in, as well.  I was looking through [PowerShell_ISE_Themes](https://github.com/marzme/PowerShell_

[2017-10-18 22:37] jlacadd commented on #134
Yeah if you want it to be perfect it could a bit darker, but it's pretty close as is.

As for the other color, I think that was more for contrast so the variable names stand out in the code.  For Vulnerator that could come in handy if you want to highlight items in the output or interface, but as a base color for the text it might be a bit much.

The Theme collection is fun, I might try some of th

[2017-10-19 00:38] amkuchta commented on #134
@jlacadd I'm with you, I prefer darker themes (I even have an addon in Chrome that makes GitHub darker when I am at home).  I like dark greys (think "gunmetal" to "charcoal") myself, but like you said, to each their own.

As for the variable name color, I can also create "accents" for the application that would utilize a color like that.  Like I said earlier on, this is my favorite part of the app

[2017-10-19 12:51] amkuchta commented on #134
Updated the "PowerShell Dark" theme using _actual_ hex codes from the screenshot that you gave me (and a red accent this time, because why not?)  I think I have hit on the winning color combination.  Also, I am displaying the "Software" page, which shows how the application will look with data populated

![powershelldark](https://user-images.githubusercontent.com/6255186/31771563-9732b826-b4aa-11e

[2017-10-20 17:42] rkotlarz commented on #134
@amkuchta I wouldn't say that any one theme, in particular, would be better over another due to the wide variance in personal preferences from the user base. Given that, how time-consuming would it be to parse an XML theme file and assign it to theme color variables? This would remove the need for you to spend time in the future on additional themes and would allow users to modify the predefined t

[2017-11-28 17:11] ibjohn opened #139 "Data issues when processing multiple .nessus fils"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [X ] I have ensured that I am running the latest release
- [X ] The issue is repeatable
- [X ] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [X ] Bug
- [ ] En

[2017-11-28 17:11] ibjohn commented on #139
See files emailed

[2017-11-28 18:14] amkuchta commented on #139
@ibjohn I've completely rewritten the methodology used to parse, store, and query data, which should solve this issue.  I will be sure to write it into testing as I polish up the next version.  Thank you for reporting the issue!

[2017-11-29 16:41] davidpnelson commented on #88
Hi Alex -

Just checking in on the progress of this request. Please advise on any progress or assistance you need.

Thanks

David

[2017-12-02 17:50] ibjohn commented on #133
I know they are not on the POAM tab. Did you look on the RAR tab?

[2018-01-05 17:57] tygerlilyjp opened #140 "Feature Reuquest: Add Information to Mitigations Menu/Window"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [X] I have ensured that I am running the latest release
- [ ] The issue is repeatable
- [ ] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [ ] Bug
- [X] Enhanc

[2018-01-11 17:36] amkuchta commented on #140
@tygerlilyjp thanks for the feature request!  I am actually already working on building this into the next release - there is a spot for it in the database, I am working on implementing it in the front end GUI now.  Hang tight!

[2018-01-18 02:56] bkogami opened #141 "Failed to process RHEL7 DISA STIG"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [X ] I have ensured that I am running the latest release
- [X] The issue is repeatable
- [X] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [X ] Bug
- [ ] Enha

[2018-01-25 15:43] amkuchta commented on #141
@bkogami Thank you for the bug report!  I have made some enhancements on how the files are read / parsed in v6.2.0 that will address this - hang tight!

[2018-01-30 18:01] dashwen opened #142 "Unable to parse FORTIFY ".fpr" files using Vulnerator"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [x] I have ensured that I am running the latest release
- [x] The issue is repeatable
- [x] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [ ] Bug
- [ ] Enhanc

[2018-02-07 18:42] #142 closed

[2018-02-11 23:12] bkogami commented on #141
Great. Thanks for taking a look.

Bruce

[2018-02-24 18:44] pckle-Rick opened #143 "Devices Affected column in Excel output"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [X ] I have ensured that I am running the latest release
- [X ] The issue is repeatable
- [X ] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [ ] Bug
- [X ] En

[2018-03-08 18:39] mitigater opened #144 "Devices Affected to Device Affected"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [X ] I have ensured that I am running the latest release
- [X ] The issue is repeatable
- [ X] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [ ] Bug
- [X ] En

[2018-03-08 18:45] CyberSecDef commented on #144
Can you provide the source for this new requirement?  This could have a HUGE impact on the packages we work on.

[2018-03-19 12:30] amkuchta commented on #143
@pckle-Rick first and foremost, congratulations on the epic GitHub user name - I'm fully appreciative of it :laughing:

With regards to your issue report, I can definitely look at throwing this in as a "hotfix" following the `alpha1` release - I would add it now, but I want to still give users the option of utilizing a newline delimiter, which requires some UI updates as well.

TLDR; Hang tight!

[2018-03-19 12:52] amkuchta commented on #144
@mitigater I'm with @CyberSecDef on this - this is a pretty big impact, and I'd like to see where it is written before making a change.

That being siad, I believe that Vulnerator will already do what you are asking - there is a set of `Checkbox` controls that allow you to group items be finding.  If you deselect these checkboxes, Vulnerator performs a one-to-one mapping of device affected to plug

[2018-03-20 11:03] kshenneman commented on #121
Just curious when you plan to release your next version with this fix?

[2018-04-02 15:00] MKStapleton opened #145 "The CCI List that is included in Vulnerator 6.1.9 is dated May 2014. The new CCI list on the IASE website is dated 6/27/2016. Can this be updated in Vulnerator?"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [X] I have ensured that I am running the latest release
- [X] The issue is repeatable
- [X] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [ ] Bug
- [ ] Enhanc

[2018-04-05 21:13] amkuchta commented on #145
@MKStapleton, you should be able to copy and paste the new file into the directory and have it overwrite the existing file (which is hidden).  I will work an "Update" feature into the settings to allow users a more intuitive way to accomplish this - thanks for the issue report!

If uploading the new file over the existing one doesn't work, please let me know and I'll work some quick magic.

[2018-04-05 21:20] amkuchta opened #146 "Vulnerator Slack Workspace"
Hey everyone!  I just created a new Slack Workspace for Vulnerator - I am still in the process of setting it up, but you can get to it [here](https://join.slack.com/t/vulnerator-chat/shared_invite/enQtMzQxMzc2MTE0NTI4LWQ1MTVmOGRmZjU4M2UzODU4ZDBhZDk1NGNlY2ZmMjgxNGEzNjUxMmE4OTkwNjQ3NTBhYzU3NmQ2OGI4YjViYzM)!  I plan on using this as a space to launch polls and collaborate on ideas for future releases

[2018-04-05 22:46] MKStapleton commented on #145
Ok, I will see if I can figure out how to unhide the directory.

[2018-04-20 17:18] razorb62 opened #147 "Unable to process FORTIFY ".fpr" files using Vulnerator"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [x] I have ensured that I am running the latest release
- [x] The issue is repeatable
- [x] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [ ] Bug
- [ ] Enhanc

[2018-04-20 21:53] jgodlewski commented on #132
Hello. I have the same issue. v6.1.9 won't run on my Win 10 system (hardened corporate system). The process starts and uses about 1.1MB of memory, but nothing else happens. I searched for Vulnerator_v6_StartupErrorLog and it doesn't look like one is generated. I extracted the zip file and all of its contents and I am attempting to run it from within the unzipped folder.

[2018-04-23 20:04] rkotlarz commented on #145
@MKStapleton The easiest way to unhide contents is to navigate to the folder where Vulnerator.exe exists, then change the [Folder Options] from the menu options to reflect [(X) Show hidden files, folder and drives] as well as uncheck [(X) Hide extensions for known file types] if it's selected.

![image](https://user-images.githubusercontent.com/5693638/39150355-102e4eb4-4710-11e8-86c3-25c3f70c3573

[2018-04-24 12:07] amkuchta commented on #147
@razorb62 thank you for the issue report!  I believe that this is fixed courtesy of a new processing approach that I took for v6.2.0, but I will double check to make sure!

[2018-04-24 12:10] amkuchta commented on #145
@MKStapleton thank you for taking a screenshot when I was too lazy to :laughing:

[2018-04-24 17:11] razorb62 commented on #147
The Fortify version of the .fpr files that fail to process is 17.20, previous Fortify versions complete processing, however, the Vulnerator tool hangs up on "creating excel report(s)..." and all of the Application Execution buttons are greyed out.

[2018-04-26 16:11] Carr0llD opened #148 "Vulnerator is not importing all of the ACAS Plugins"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [x] I have ensured that I am running the latest release
- [x] The issue is repeatable
- [x] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [x] Bug
- [ ] Enhanc

[2018-04-26 17:46] amkuchta commented on #148
Could I ask you to email the ACAS IDs in question to alex.kuctha@navy.mil? Please do not disclose host names, IPs, etc - just the IDs themselves.  I'd like to see if the same IDs "go missing" on a run on my side (both through v6.1.9 and my development version, v6.2.0)

[2018-05-02 16:16] johndfars opened #149 "Vulnerator fails to export report, ERROR in log Findings database refresh failed"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [x] I have ensured that I am running the latest release
- [ ] The issue is repeatable
- [ ] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [ ] Bug
- [ ] Enhanc

[2018-05-03 12:02] amkuchta commented on #149
This was resolved "offline" with @johndfars - the issue was a background instance of Vulnerator running.  closing out the issue as "resolved"

[2018-05-03 12:03] #149 closed

[2018-05-08 15:30] PCGOOD opened #150 "Navy Risk Assessment Report (RAR) for RMF process"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [ ] I have ensured that I am running the latest release
- [ ] The issue is repeatable
- [x] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [ ] Bug
- [x] Enhanc

[2018-05-09 00:06] amkuchta commented on #150
@PCGOOD I'll work on getting the latest version of the RAR into v6.2.0

[2018-05-18 17:21] holmesbt opened #151 "Feature Request: Output open port/protocol information to Asset Overview"
# Prerequisites
_Before submitting a new issue, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [X] I have ensured that I am running the latest release
- [X] The issue is repeatable
- [X] The issue has not already been reported

# Category
_Please select a category for the item being created_

- [ ] Bug
- [X] Enhanc

[2018-05-22 12:14] amkuchta commented on #151
@holmesbt I have actually already worked this into the next release - the intention is to generate a separate PPS report, which I think will provide more insight than adding the data to an existing output.  Hang tight!

[2018-05-23 18:38] hundleyt opened #153 "Compare CKLs"
#### Prerequisites
- [X] I have ensured that I am running the latest release
- [X] The request has not already been reported

#### Description
There needs to be a way to compare deltas of two CKLs for the same asset. If a CKL notes a STIG finding, it would be great to check an updated CKL to verify that the STIG finding was updated or closed. Also look for other changes in the CKL, like if a comme

[2018-05-23 18:56] amkuchta commented on #153
@hundleyt this feature is actually in testing now!  I have built in the ability to create a backend database of all STIGs using the available downloads from IASE (either the individual STIGs or the compilation library).  After the initial creation, any time a new release is ingested, the individual vulnerabilities are checked for an update, and if one is found, a flag is set noting that the update

[2018-05-23 19:01] hundleyt commented on #153
@amkuchta Thanks! I'll check that out. What I'm really looking for is a way to compare two CKL files from different time periods. Let's say someone generates a CKL for an asset in January and the CKL has a bunch of STIG findings noted. Then in March, they've closed out those STIG findings and created a new CKL. How can I compare the two without going through them line by line?

[2018-05-30 17:08] tbedford2008 commented on #150
Man! I am very interested in seeing if you were able to add this feature. I am validating systems and have to  populate RAR's. Any significant progress so far?

[2018-05-30 20:34] holmesbt commented on #151
Awesome, sounds great! Thank you!
I agree with the PPS report you're speaking to. We find it tedious to have to look at 3 different things just to validate the PPS, so I'm sure this will help!

[2018-06-20 19:34] baileysw698 opened #154 "RAR Tab - Formulating Risk Information"
How do I Formulate Risk Information with in the RAR tab e.g. Severity  or Pervasiveness     (VL-VH)     (16d.3),  Relevance of   Threat     (VL-VH)     (16e),  Likelihood     (Cells 16d.3 & 16e)     (VL-VH)     (16f)?

Is Severity or Pervasiveness a known value somewhere?

Thanks in Advance

[2018-06-20 20:07] ibjohn commented on #154
There are instructions in NAO's original Excel template.

[2018-06-20 20:31] amkuchta commented on #154
@baileysw698 for what it is worth, I am working on having Vulnerator auto-populate this information at runtime - hang tight!

[2018-06-20 21:02] ibjohn commented on #154
@amkuchta When is the next release expected?

[2018-06-21 13:21] baileysw698 commented on #154
Where can I get a copy of the NAO's original Excel template?

[2018-06-21 15:33] mhara42 commented on #147
I have the same issue with v18.1. 18.2 will be coming out this Fall. My guess is that whatever changed is being carried forward.

[2018-07-03 21:57] vincedfw commented on #132
I had the same issue. The VulneratorDatabase.sqlite was showing 0 kb. I renamed it and started vulnerator again and it created a new SQLite file with data and it ran.

[2018-07-03 21:59] jgodlewski commented on #132
My issue was UAC...every single .dll had to be accepted.

On Tue, Jul 3, 2018 at 2:57 PM vincedfw <notifications@github.com> wrote:

--
Joseph Godlewski

[2018-07-11 19:02] JRBehnke commented on #110
Not sure of the extent of this CCI and NIST Control issue, but just noticed in 6.1.9 that when DISA STIGs list more than 2 versions of the NIST SP 800-53 in the reference area the latest version doesn't make it into the NIST Control column in the  STIG Details.  An example, is ASD V-70217.

References
CCI: CCI-001188: The information system generates unique session identifiers for each session wit

[2018-07-28 21:33] jgodlewski opened #156 "STIG ID (SV#) instead of Vul ID (V#) in POA&M"
#### Prerequisites
_Before submitting a new request, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [ ] I have ensured that I am running the latest release
- [ ] The request has not already been reported

#### Description
_Please provide a description of the feature request here._

#### Associated Issues
_Is the fe

[2018-07-28 21:36] jgodlewski commented on #156
Would it be possible to have the option to use Vulnerability IDs or the STIG IDs when running Vulnerator. eMASS defaults to STIG ID (SV-#s) when you import scans and checklists and map findings to assets. However, Vulnerator doesn't include the SV# in the POA&M. Instead, Vulnerator includes the V# for the vulnerability. Some organizations are apparently picky about this.

[2018-07-31 14:27] jgodlewski commented on #156
I should probably use the correct references. Vulnerator currently uses the "V-ID" in the POA&M field "Security Checks". eMASS uses the "Rule ID" when you import checklists into the Assets. Additionally, some organizations are very picky when it comes to using the V-ID or Rule ID. It would be great if we had the option to select either the V-ID or the Rule ID for use then processing our checklists

[2018-07-31 14:35] sysengenterprisearch commented on #72
@Moe0303 Could you please forward me your work thus far on the mappings between Nessus plugins to 800-53 controls and CCIs?  Would definitely be most appreciative and I think as a Cybersecurity Professional myself, I may have some artifacts/templates that I can share with the Community/Team.

Thanks!

[2018-07-31 18:06] amkuchta commented on #156
@jgodlewski thank you for the request!  This looks like it will be a simple item to integrate - I'll see if I can get it into the next release (I may be getting some help soon!)

[2018-07-31 18:08] jgodlewski commented on #156
Thanks. By the way, are you tracking that there is a new POA&M template
from eMASS?

On Tue, Jul 31, 2018 at 11:06 AM Alex Kuchta <notifications@github.com>
wrote:

--
Joseph Godlewski

[2018-08-22 17:58] eng3 opened #157 "Window does not open"
#### Prerequisites
_Before submitting a new issue, please ensure you have completed the following (delete the space in the box and replace it with an "x" to denote that it has been completed)_

- [x] I have ensured that I am running the latest release
- [x] The issue is repeatable
- [x] The issue has not already been reported

#### Description
No window appears after running Vulnerator.  It does a

[2018-08-29 00:27] eng3 commented on #157
The symptoms sound similar with the exception that in #152, he says the the process terminates immediately.  In my case, the process keeps running indefinitely until I kill it in task manager.  Is there a way to get some debug info out so you have more to go on?

[2018-09-04 17:26] BillCosner commented on #157
Same error for me. Win 10 1703. Isolated network. Multiple computers.

Event Log shows 2 errors:
1) Unhandled exception in .NET 4.0.303119
2) application error in module KERNELBASE.dll ver 10.0.15063.1266

[2018-09-04 18:58] eng3 commented on #157
I do not see any event log messages

[2018-09-05 10:42] amkuchta commented on #157
@eng3 @BillCosner do you by any chance have HIPS installed?  If yes, could you double check that nothing is being blocked there?

[2018-09-05 14:47] BillCosner commented on #157
@amkuchta Yes, HIPS is installed, but I checked the logs and had the machine put into tuning mode. Nothing was blocked. I also looked for the Vulnerator folder in my Appdata folder, but nothing named Vulnerator was there. I also checked with my ISSM who reported the issue, and he has no Vulnerator folder in his AppData/Roaming folder either.

[2018-09-05 14:48] BillCosner commented on #157
Sorry to hijack this thread. Can it be merged with the other thread which seems more connected?

[2018-09-06 15:29] amkuchta commented on #157
@BillCosner I can't "merge" the threads, per se, but I  can close this one and provide a link to the other thread, where we can continue the discussion.

@eng3, thoughts on that?  Also, looking through the debug file you sent me, it appears that SQLite is failing to run on your system, which means that it looks like either the `*.dll` files are missing or something is blocking them.  Can you run a

[2018-09-06 22:50] BillCosner commented on #157
@amkuchta Please do. I had a chance to troubleshoot today. I can open it fine with my desktop admin account but not with my standard user account.

[2018-09-06 23:03] eng3 commented on #157
@BillCosner , I suggest that you just open a new issue since your issue seems to have completely different symptoms.  For example, mine does not run as admin, I DO have a vulnerator folder in appdata/roaming, I dont get error messages, I am using a different OS.

@amkuchta  Which vulnerator folder did you want me to search for sqlite?  I already sent you what's in that folder (Findings.sqlite, Vul

[2018-09-07 01:10] amkuchta commented on #157
@eng3 I apologize, I should have been more specific - the DLL would be found in the Vulnerator file you run the application from. As for it being missing vs. blocked, it could be either one - I had to work some magic with SQLite specifically to get it to run on NMCI, which meant packaging it as a local file instead of how it typically runs within the application. Because of this, the application w

[2018-09-07 12:50] BillCosner opened #158 "Window does not open with non-admin account"
#### Prerequisites
_Before submitting a new issue, please ensure you have completed the following (delete the space in the box and replace it with an "x" to denote that it has been completed)_

- [X] I have ensured that I am running the latest release
- [X] The issue is repeatable
- [X] The issue has not already been reported

#### Description
Using DISA SHB 10.2 with applicable STIGs on SIPRNet.

[2018-09-07 18:47] eng3 commented on #157
@amkuchta I see System.data.sqlite.xml, system.data.sqlite.linq.dll, system.data.sqlite.ef6.dll, system.data.sqlite.dll.config, system.data.sqlite.dll, and sqlite.interop.dll in each x86/x64.  Do you know of any GPO setting that would block sqlite?

[2018-09-10 14:09] BillCosner commented on #158
So, update... I have the Desktop, Documents, and Favorites folders redirected to a network share for a select few users via GP. All of them can not open the program properly.  Users who are not redirected can open the program fine. The user profile is not set to roaming, just folder redirection of the above 3 folders.

[2018-09-13 11:50] eng3 commented on #157
@amkuchta any new ideas?

[2018-09-14 03:15] eng3 commented on #157
@amkuchta Is there a way to have the database (and other files) created in another folder?

[2018-09-14 13:02] amkuchta commented on #157
@eng3 unfortunately, in v6.1.9, the answer to that is no.  I changed that for v6.2.0, but I've been slow in getting the new version out due to other responsibilities at work and at home.

Where are you running the Vulnerator executable from?  That, in my opinion, may be the more likely culprit.

[2018-09-14 19:48] eng3 commented on #157
I have tried a network share, desktop (another network share), a folder on the c: drive all with the same result.  The userprofile (network share) location that it creates that database files which it cannot open has not changed so I thought that may be the culprit.

[2018-09-15 18:07] RickKotlarz commented on #158
While I haven't tested this, it sounds like this has more to do with the Windows Defender and not Vulnerator itself. Test launching the application with and without Windows Defender completely disabled via the GPO from both the network share as well as a local folder.

[2018-09-17 12:58] BillCosner commented on #158
@RickKotlarz

Hi Rick. Defender is completely disabled already. We are running the current versions of McAfee ENS and we disable Defender as a policy in GPO.

[2018-09-24 12:53] RoxxW commented on #147
Verified. Unable to process Micro Focus Fortify v18.1 fpr files with v6x Vulnerator

[2018-09-24 13:03] RoxxW commented on #91
Any follow up to this meeting Alex?

[2018-10-05 20:13] georgerobertbrown opened #159 "v6.2.0 alpha does not build"
#### Prerequisites
- [X] I have ensured that I am running the latest release
- [X] The request has not already been reported

#### Description
6.2.0 alpha fails to build. I'm running VS 2017.

#### System Information
 - Windows 10
 - 6.2.0 alpha

#### Additional Context
I realize this is an alpha release but I was interested in looking at the latest changes compared to 6.1.

#### Attachments
- [X

[2018-10-05 23:08] amkuchta commented on #159
Chances are this is because I used a pre-release version of the styling library, which requires a special Nuget repo. The feature I was testing is in release now, so I'll make the update after I get my kid in bed

[2018-10-12 13:33] RoxxW commented on #147
Happy to help test this when ready

[2018-10-12 13:37] mhara42 commented on #147
Ditto

On Fri, Oct 12, 2018, 9:33 AM Mark <notifications@github.com> wrote:

[2018-10-16 16:01] genolewis commented on #157
This is our issue.  The issue i've noticed is either with roaming profiles or folder redirection.  If I login with a local account on the machine then vulnerator runs fine.  We have all folders set to redirection including appdata(roaming).  The application is being ran from a folder on the c drive.

I may have a chance this week to isolate the issue.

[2018-10-24 19:20] virgiet opened #160 "Multiple CKL Files do not show up in the Vulnerator Excel Report"
The vulnerator tool does not import all finding details into the vulnerator spreadsheet which should show multiple entries from a several CKL files.

I attempted to import 3 separate CKL files generated from STIG VIEWER into the Vulnerator to consolidate my findings in to one report.  The vunerator spreadsheet only logged one of three entries into the mitigation column leaving the other two entrie

[2018-10-26 11:41] RoxxW commented on #147
@amkuchta Any chance of getting an advanced beta copy of 6.2 that fixed this? This is killing my IA colleagues. They are literally copying line for line from a PDF Fortify Report into the POA&M template. I am the Fortify SME here.

[2018-10-31 15:31] RoxxW commented on #147
Is there a earlier version that DID work with v18x FPR files that we can go back to until the bug is fixed in the most recent release of Vulnerator?

[2018-11-02 02:57] amkuchta commented on #159
@georgerobertbrown the v6.2.0 branch has been updated with the proper NuGet package - give building it a try again, and let's go from there

[2018-11-02 03:06] amkuchta commented on #160
@virgiet I've updated how vulnerabilities are parsed for v6.2.0, and am currently verifying the accuracy of all data now - I will ensure that all relevant information is captured for every item in the checklist.

Thank you for the bug report!

[2018-11-02 18:42] georgerobertbrown commented on #159
Thanks for the update Alex. It now builds and runs. Wow, it looks like a total rewrite. Impressive.

I ran into a problem though. I loaded the FOUO_SRG-STIG_Library_2018_10.zip, imported an ACAS .nessus scan file and generated a report with the default settings. The resultant xlsx file was corrupt. I attached the error message.
![vulnerator_poam_error](https://user-images.githubusercontent.com/438

[2018-11-06 02:33] amkuchta commented on #159
@georgerobertbrown it was definitely a complete rewrite - tedious, but well worth it when it comes to being able to maintain the application in the future.

As far as your issue goes, I'm afraid that the answer is simple - I haven't finished rewriting the reporting functionality yet. When I rewrite the program, I expanded the database substantially (7 tables to 150+, to be exact). However, this re

[2018-11-06 02:58] georgerobertbrown commented on #159
No pressure. I was excited to see the new version and was interested in previewing the changes.

FYI, the previous version could not open a database file on a file share (\\DRIVE). I made a small mortification to the old version to add a -documents command line argument so I could specify the database path. It looks like your changes might address that. I'll hold tight.

Feel free to reach out to

[2018-11-06 02:58] amkuchta commented on #159
@georgerobertbrown semi-unrelated - there is now a link in the title bar of the application that takes you to the Slack workspace for Vulnerator. Would you mind testing it? (It looks like a pound sign, or hashtag if that tickles your fancy)

[2018-11-06 03:35] georgerobertbrown commented on #159
Sorry, I just noticed this. I'm running in VisualStudio and clicked the # button but it didn't seem to do anything.

[2018-11-06 14:37] xeanarth commented on #72
Anyone can forward me the mapping work? It would be really huge appreciated, and i would be happy to help you other whatever my skills let me do it 👍

[2018-11-09 17:18] lbarraugh commented on #147
Joining the thread because I'm having the same issue.  Happy to help wherever possible to get a resolution.

[2018-11-16 19:30] avicchiollo opened #161 "version 6.1.9 won't import acas file. Gives status of Failed; See Log. However what log is saying to look in?"
#### Prerequisites
_Before submitting a new request, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [ ] I have ensured that I am running the latest release
- [ ] The request has not already been reported

#### Description
_Please provide a brief synopsis of the request or the help needed._

#### System Information

[2018-11-28 03:15] Mattamoros opened #162 "Duplicate STIG IDs Consolidation?"
#### Prerequisites
_Before submitting a new request, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [X ] I have ensured that I am running the latest release
- [X] The request has not already been reported

#### Description

Hey Alex. Is it possible to add a feature to consolidate duplicate STIG IDs from different b

[2018-11-28 14:38] CyberSecDef commented on #162
Adding to this chain, I've also seen this problem pop up when the same vulnerability is called out in both a CKL and SCAP.  It would be nice if V-1234 would show up once with a designator showing it is present as both a CKL and a SCAP.  Maybe make the source column:

SCAP/STIG: Windows 10 V1R1

Or something like that.

-----Original Message-----
From: Mattamoros <notifications@github.com>
Sent: Tu

[2018-12-04 19:43] JASONCORTEZ1 opened #163 "SonarQube Integration"
Some project cannot afford the cost of Fortify, however they can run free/low cost automated tools to get similar results. Having the ability to parse these results also would allow for easier POA&M creation

[2018-12-06 12:55] MKStapleton opened #164 "Trouble processing Nessus Files on SIPRNet"
#### Prerequisites
_Before submitting a new request, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [ ] I have ensured that I am running the latest release
- [ ] The request has not already been reported

#### Description
_Please provide a brief synopsis of the request or the help needed._

#### System Information

[2018-12-06 13:01] MKStapleton commented on #164
#### Prerequisites
_Before submitting a new request, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [X] I have ensured that I am running the latest release
- [ ] The request has not already been reported

#### Description
_I have recently had issues opening Vulnerator in our SIPRNet system and when it does open, th

[2018-12-14 19:34] tid7 opened #165 "Credentialed / Non Credentialed .Nessus parsing for duplicate files and assets"
#### Prerequisites
_Before submitting a new request, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [X ] I have ensured that I am running the latest release
- [X ] The request has not already been reported

#### Description
•	In this scenario, I have two different .nessus files and one asset

•	One .nessus file has

[2018-12-20 18:54] MKStapleton commented on #164
The workstation that I use for processing Nessus files with Vulnerator was reimaged with the Windows 10 1803 image and Vulnerator now works.

[2018-12-20 18:54] #164 closed

[2019-01-09 04:06] #92 closed

[2019-01-16 13:35] mrgreyhair commented on #124
I don't agree with "Nobody wants to see SCAP results from ACAS or HBSS... only from SCC."  I think the "only from SCC" general statement is because Vulnerator is unable to parse Compliance from Nessus (ACAS) ".nessus" output.

I can't code this but, from my limited (under educated) understanding of .nessus output, xml and parsing. A modification to AcasNessusReader.cs could be...
  If pluginFamily

[2019-01-25 02:38] #104 closed

[2019-01-25 02:39] #136 closed

[2019-01-25 02:40] #83 closed

[2019-01-25 02:40] #137 closed

[2019-01-29 22:58] CyberSecDef opened #166 "Blank IPs cause empty slashes on the test plan sheet when parsing XCCDF files"
#### Prerequisites
_Before submitting a new issue, please ensure you have completed the following (delete the space in the box and replace it with an "x" to denote that it has been completed)_

- [X] I have ensured that I am running the latest release
- [ ] The issue is repeatable
- [ ] The issue has not already been reported

#### Description
When an XCCDF file targets a system with multiple netw

[2019-01-31 16:23] shskeen commented on #161
avicchiollo, did you just update your NESSUS engine to Nessus 8.1?  This happened to us when going from NESSUS 7.1.2 to NESSUS 8.1.  Nessus updated the application due to a database issue with 7.1.2 and before releases.  Possible Tenable has changed the DB structure to make the .nessus files imcompatible with Vulnerator 6.1.9.  Waiting for the solution.

[2019-01-31 16:24] shskeen commented on #161
More....we are going to back rev to Nessus 7.1.3 to see if that fixes it.

[2019-01-31 16:30] shskeen commented on #161
Super. We were at 8.1. We’ll give that a try.

Stewart H. Skeen
Team Leader
System Security Engineering

On January 31, 2019 at 10:29:10 AM CST, avicchiollo <notifications@github.com> wrote:
We have gone to an updated version 8.1.4 pro version.

Angelia Vicchiollo
Information Security Officer
avicchiollo@ustda.gov<mailto:avicchiollo@ustda.gov>
Office: (703)-875-4025 Cell: (571)-216-2143

U.S. Trad

[2019-01-31 16:31] shskeen commented on #161
Got it

Stewart H. Skeen
Team Leader
System Security Engineering

On January 31, 2019 at 10:30:48 AM CST, Skeen, Stewart H @ AS - MID <Stewart.H.Skeen@L3T.com> wrote:
Super. We were at 8.1. We’ll give that a try.

Stewart H. Skeen
Team Leader
System Security Engineering

On January 31, 2019 at 10:29:10 AM CST, avicchiollo <notifications@github.com> wrote:
We have gone to an updated version 8.1.4 p

[2019-02-04 18:36] degthat8412 opened #167 "Color Coded Excel Output"
#### Prerequisites
_Before submitting a new request, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [X ] I have ensured that I am running the latest release
- [ ] The request has not already been reported

#### Description
It would be great if the excel output could be color coded rows based on if the issues is Ope

[2019-02-13 22:12] TheShadow1935 opened #168 "Is Vulnerator on the Common Criteria list"
#### Prerequisites
_Before submitting a new request, please ensure you have completed the following (replace the space in the box with an "x" to denote that it has been completed)_

- [x] I have ensured that I am running the latest release
- [x] The request has not already been reported

#### Description
_Please provide a description of the feature request here._

#### Associated Issues
_Is the fe

[2019-02-13 22:13] TheShadow1935 commented on #168
Looking to use this with other departments within DoD and they want to know if its on the Common Criteria list

[2019-02-14 18:26] amkuchta commented on #168
@TheShadow1935 unfortunately, no, it is not - the CC evaluation process comes with a cost, and as an open source project, no funding has been allocated to have the process completed.

[2019-02-14 18:27] #168 closed

[2019-02-14 18:28] #146 closed

[2019-02-25 20:21] amalszycki commented on #145
I'm new to using Vulnerator.  How do you import all of the CCI numbers so when you import an ACAS report and execute it the output spreadsheet will map the plugin ID to the appropriate CCI #?

[2019-02-27 16:43] shskeen commented on #161
avicchiollo,
I don't know if I passed on, but we're working fine with Nessus 8.1.x and now moving to Nessus 8.2.2.  Vulnerator 6.1.9 works fine with those .NESSUS files.

Stewart H. Skeen
Team Leader
System Security Engineering

[2019-02-27 16:45] avicchiollo commented on #161
Stewart,

Thank you for the update!

Angelia

Angelia Vicchiollo
Information Security Officer
avicchiollo@ustda.gov<mailto:avicchiollo@ustda.gov>
Office: (703)-875-4025 Cell: (571)-216-2143

U.S. Trade and  Development Agency<http://www.ustda.gov/>
1101 Wilson Blvd., Suite 1100 - Arlington, VA 22209

From: shskeen <notifications@github.com>
Sent: Wednesday, February 27, 2019 11:43 AM
To: Vulnerato

[2019-03-01 15:09] Jasonfhaught commented on #72
Moe0303 could you send a copy to me please?

[2019-03-18 00:21] georgerobertbrown opened #170 "v6.2.0 build errors (Latest commit 06a5791)"
#### Prerequisites
- [X] I have ensured that I am running the latest release
- [X] The issue is repeatable
- [X] The issue has not already been reported

#### Description
Build error:
Severity	Code	Description	Project	File	Line	Suppression State
Error		The "Fody.WeavingTask" task was not given a value for the required parameter "SolutionDir".	Vulnerator_v6

#### To Reproduce
_How did you get Vulne

[2019-03-19 17:29] amkuchta commented on #170
@georgerobertbrown are you building on an NMCI asset?  Additionally, can you screenshot and attach the message you are getting?  Additionally, if the error provides any further depth (i.e. a stack trace), that would be awesome, too.

[2019-03-20 02:34] georgerobertbrown commented on #170
It's not an NMCI machine, just a regular Dell laptop. Here's the error I get when I try to run the app:
Severity	Code	Description	Project	File	Line	Suppression State
Error		The "Fody.WeavingTask" task was not given a value for the required parameter "SolutionDir".	Vulnerator_v6

Here is the build log, no errors:

`1>------ Build started: Project: Vulnerator_v6, Configuration: Debug Any CPU ------

[2019-03-20 15:49] RoxxW commented on #159
@georgerobertbrown @amkuchta

I downloaded, built and ran the exe. There were some hard errors that I was able to resolve but I am able to see the new user interface and features.

Is Execute Ingestion the new way to say Execute :)
I could not find a way to import/ingest any file types into the new 6.2.0.a interface Alex...

Assume you have a beta version out I can try and build?

Mark

[2019-04-19 19:09] mhara42 commented on #113
Is this in the works or still on hold for now?

[2019-04-30 18:48] DaBrownClown commented on #124
We have been told by SCA representatives that they will accept SCAP from ACAS now.  One issue we are running into is pulling the html summary report that you can get with the SCC tool.  We would still import the SCAP results into a checklist before importing the results into Vulnerator, but it would be nice if you could import SCAP directly to Vulnerator if you needed to generate a quick report of

[2019-05-01 00:22] johnmyers2 commented on #124
You should be able to import the SCAP XCCDF files. There is an option for
that.

V/R,
John F Myers, CISSP, CCFE, C|EH, MCITP
Phone: 214-918-9238
E-mail:   john.myers0915@gmail.com

On Tue, Apr 30, 2019 at 1:48 PM DaBrownClown <notifications@github.com>
wrote: